<div id="team_errors">
    <div id="team-error-header">
        Please Fix the following errors:
    </div>
   <ul>
    <% @team.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
   <% end %>
   </ul>
</div>