<h2 class="team-header"> TEAMS/STANDINGS </h2>

<span class="btn btn-primary team-create">Create Team </span>

<%= link_to "Clear Teams", deleteteams_scoreboard_path(@scoreboard) , class: "btn btn-primary clear-teams-btn", :data => {:confirm => "Are you absolutely sure? You will lose all team data and may hate yourself. This action cannot be reversed"} %>


<!--Added 11 columns for labels because the team objects will have a 12th column for settings cog-->
<div class="row standing-labels">
    <div class="col-xs-3 standing-1">
        TEAM NAME
    </div>
    <div class="col-xs-2 standing-2">
        WIN
    </div>
    <div class="col-xs-2 standing-2">
        LOSS
    </div>
    <div class="col-xs-2 standing-2">
        TIE
    </div>
    <div class="col-xs-1 standing-2">
        GP
    </div>
    <div class="col-xs-1 standing-2">
        W %
    </div>
</div>

<div class="team-list">
    <%= render @scoreboard.teams.reject(&:new_record?) %>
</div>

<div class="row new-team-form">
    <%= render "teamsform" %>
</div>



