<% provide(:title, "Teams") %>
<h2 class="team-header"> TEAMS/STANDINGS </h2>

<% if manager_or_owner?(@scoreboard, current_user) %>
    <span class="btn btn-primary team-create">Create Team </span>
    <!--NOTE: this delete method works with javascript already, therefore no need to refresh it with custom validations-->
    <%= link_to "Delete All Teams", deleteteams_scoreboard_path(@scoreboard),method: :delete, class: "btn btn-danger clear-teams-btn", :data => {:confirm => "Are you absolutely sure you want to delete all teams?"} %>
<% end %>

<!--Added 11 columns for labels because the team objects will have a 12th column for settings cog-->
<div class="row standing-labels">
    <div class="col-xs-4 standing-1">
        TEAM NAME
    </div>
    <div class="col-xs-2 standing-2">
        WIN
    </div>
    <div class="col-xs-2 standing-2">
        LOSS
    </div>
    <div class="col-xs-2 standing-2">
        TIE
    </div>
    <div class="col-xs-1 standing-2">
        W %
    </div>
</div>

<div class="team-list">
    <% if @teams.any? %>
       <%= render @teams.reject(&:new_record?) %>
    <% elsif manager_or_owner?(@scoreboard, current_user) %>
       <div class="row default-div">
           <div class="col-xs-11">
               Currently, there are no teams listed. You may add teams to your league page by 
               using the "Add Team" button. 
           </div>
       </div>
    <% else %>
      <div class="row default-div">
           <div class="col-xs-11">
                No teams have been added to the league. Teams may be added to this page by the admins of the league. 
           </div>
       </div>
    <% end %>
</div>

<div class="row new-team-form">
    <%= render "teamsform" %>
</div>
