<% provide(:title, "Site Guide") %>

<h2 class="<% unless logged_in? %> unlogged-head <% else %> generic-header <% end %>">
  Site Guide
</h2>
<div class="guide-wrapper">
  
  <h3 class="big-guide"> SCORECLIQ PLANS</h3>
  
  <p>
    Scorecliq offers two plans to its users. When you first sign up, you are assigned an "Individual" plan. 
    This plan is free and offers sufficient functionality for very small leagues/clubs. You have the option to upgrade to 
    a "Master" plan for 29.99 monthly. This plan provides better options for medium to bigger sized leagues. A reference
    is provided which entails the differences between the two plans. 
  </p>
  
  <h4 class="small-guide">INDIVIDUAL</h4>
  
  <div>
    <h5><i class="fa fa-circle" aria-hidden="true"></i> Access to all features associated with league page</h5>
    <h5><i class="fa fa-circle" aria-hidden="true"></i> Able to only own one league page</h5>
    <h5><i class="fa fa-circle" aria-hidden="true"></i> Able to have up to 15 teams per league page</h5>
    <h5><i class="fa fa-circle" aria-hidden="true"></i> Up to 5 categories  available to upload documents</h5>
    <h5><i class="fa fa-circle" aria-hidden="true"></i> Up to 10 documents allowed per category page</h5>
  </div>
  
  <h4 class="small-guide">MASTER</h4>
    
  <div>
    <h5><i class="fa fa-circle" aria-hidden="true"></i> Access to all features associated with league page</h5>
    <h5><i class="fa fa-circle" aria-hidden="true"></i> Able to own multiple league pages</h5>
    <h5><i class="fa fa-circle" aria-hidden="true"></i> Able to assign up to 4 admins for your league page to delegate duties</h5>
    <h5><i class="fa fa-circle" aria-hidden="true"></i> Able to have up to 100 teams per league page</h5>
    <h5><i class="fa fa-circle" aria-hidden="true"></i> Up to 10 categories available to upload documents</h5>
    <h5><i class="fa fa-circle" aria-hidden="true"></i> Up to 25 documents allowed per category page </h5>
  </div>
  
  <p class="guide-disclaimer">
    Note: If you are subscribed to a "Master" plan and would like to unsubscribe, please consider the following. Upon unsubscribing
    your account will be default back to the "Individual" plan instantly. If you own more than 1 league/club page, you will be restricted 
    to the page created most recently. If you delete any pages, you will be defaulted back to the most recent remaining page. Your pages 
    are not deleted by us when you unsubscribe and you may re-access them after re-subscribing. Any pages you delete
    cannot be recovered. 
  </p>
  
  <h3 class="big-guide">SITE MAP</h3>
  
  <p>
    Upon logging in, you are are redirected to your dashboard. From here, you may choose to visit your league pages, 
    search for a league page or navigate to your plan settings. Below is an overview of sidebar options.
  </p>
  
  <h4 class="small-guide"> DASHBOARD </h4>
  
  <p>
    The dashboard is designed to give you direction on the site. You are presented with options such as create, view and search. 
  If you wish to create a page for your league or club, you can click on create otherwise you can search for 
  existing page to follow or request to join. Important updates for the site will be displayed on this page. From the dashboard, you 
  may navigate to your plan settings as well. 
  </p>
  
  <h4 class="small-guide">MY LEAGUE PAGES</h4>
  
  <p>This page holds access to all the leagues pages that you own or are currently following.</p>
  
  <h4 class="small-guide">SEARCH</h4>
  
  <p>
    On this page you may search for a league page that you may be a part of. As an organizer or owner of a league/club, 
    you should provide info to your members as to what your league page is called so they may easily search for it. Even better is to
    email them direct links to your league page to make it easy for them to find it. A social media button is provided on the league page so
    members can share a link on social media as well. 
  </p>
  
  <h3 class="big-guide">LEAGUE PAGE FEATURES</h3>
  
  <p> 
  Upon the creation of a league page, you are provided with various features in order to manage your league. The following section
  contains an overview of the features. 
  </p>
  
  <h4 class="small-guide">LEAGUE PROFILE</h4>
  
  <p>
    The league profile page provides a basic overview such as the owner, club, sport, 
    location, status and follower list to the members. The members can message followers 
    directly from the follower list. For the owner, several features are designed to delegate 
    duties, keep members updated, invite members to the page and change the access type(private/public) 
    of the league profile. The features are listed below. 
  </p>
  
  <h5>Status</h5>
  
  <p>
    The league profile is the first thing that is viewed by the members. 
    Status allows the owners to keep all the members updated about anything important or 
    urgency that requires immediate attention. 
  </p>
  
  <h5>Admins</h5>
  
  <p>
    The admin feature is designed to help delegate the duties to other members. 
    The owner can assign admins(max 2) by clicking on the setting icon. Admins have 
    the same control over the league, for example, they can change team scores, create team matches,
    update statuses and more. Admins cannot assign other admins, that is exclusive to the owner of the page. This feature
    is only available on a paid plan. 
  </p>
  
  <h5>Privatize</h5>
  
  <p>
    Privatization makes the league profile page private/public. It is designed 
    to allow more privacy for leagues that don’t want to make to make their content public 
    and only available to its current members. A private league will require approval from the 
    owners/admins in order for new members to join the league page. 
  </p>
  
  <h5>Invite</h5>
  
  <p>Owners/Admins can invite people to the league profile via mass email. 
  A link to the league profile page will be sent for easier access to the page. 
  </p>
  
  <h4 class="small-guide">TEAMS</h4>
  
  <p>
    An owner/admin can easily create, delete or edit team names and their scores with an
    easy to use interface. The members can easily view the teams, scores and check the standings.
  </p>
  
  <h5>Team Profile</h5>
  
  <p>
    Clicking on each team name takes you to the team profile page. it shows an overview 
    of the specific team with the member list and their W/L/T stats. Owner/Admin can assign 
    a captain from the member list and the captain can assign more members from the member list.
    Members can message other team members from the team profile page. 
  </p>
  
  <h4 class="small-guide">TEAM MATCHES</h4>
  
  <p>
    Team matches allows owners/admins to create matches between different teams. You can 
    select date of match, time of match and location for each match. You can easily create, 
    edit or clear all team matches with a click of a button. Scores can also be added for each team.  
    The filter feature allows you to narrow matches. It will filter and display all the matches for that 
    specific team. Its as simple as choosing the team from the drop down list and clicking filter.
  </p>
  
  <h4 class="small-guide">DOCUMENTS</h4>
  
  <p>
    This feature lets owner/admins create categories and add relevant documents to them. 
    These documents can be downloaded by all members or the general public if the league content is public. 
    Most common document formats are supported for upload( pdf,doc,htm,html,docx,xlsx, pages). 
  </p>
  
  <h4 class="small-guide">EVENTS</h4>
  
  <p>
    Owner/Admins can create updates for upcoming events that members of the league may want to be a part of. These events 
    will be viewable by the followers of the league. 
  </p>
  
  <h4 class="small-guide">DISCUSSION</h4>
  
  <p>
    This feature can be used to create discussion topic where members or the 
    general public can ask questions, post opinions amongst other fun possibilities. 
    This section can be moderated by the owner/admins to delete any inappropriate content.  
    Anyone can create a discussion topic, however only the owner/admins can delete them. 
  </p>
  
  <h4> If you have any questions, please feel free to <%= link_to "contact us.", contact_path %></h4>
</div>
  
