<% if logged_in? %>

    <%= render "shared/home" %>

    <% else %>

<% provide(:title, "Home") %>

    <section class="prelogin-home">
        <div class="row">
            <div class="col span-1-of-2 box first">
                <h2 class="home-greet">
                      Welcome to  Scorecliq!
                </h2>
                
                <p class="home-desc">
                     Scorecliq is a platform for coaches or organizers of clubs/leagues to 
                     manage various records such as scores, schedules and other updates in a simple
                     manner and make them viewable to the members of the league. Try it now for free!
                </p>
                
                <div class="home-sign">
                    <%= link_to "Sign-Up now!", signup_path, class: "btn btn-full" %>
                </div>
               
               
            </div>
            
            <div class="col span-1-of-2 box">
                <div class="login-container">
                   <%= render 'sessions/loginform' %>
                </div>
            </div>
        </div>
    </section>
         
        
<% end %>