<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <body>
    <div class="jumbotron">
      <div class="push-spaces container">
        <h1>ScoreBoard Application</h1>
        <h2> This is the Home page for the ScoreBoard Application</h2>
        <h2><%= link_to "Sign-Up now!", signup_path, class: "btn btn-success" %></h2>
        <h3> Sign-In-Form </h3>
      </div>
    </div>
  </body>
</html>
