<% if logged_in? %>

<%= render "shared/home" %>

<% else %>

<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <body>
        <div class="main-img">
          <div class="home-greet">
            Welcome to the Scorecliq!
          </div>
          <div class="explain">
            Hello, The scorecliq app is meant to cater to coaches
            and individuals who organize teams in order to give them a better
            way to display scores for team members. It lets them update
            easily without a hassle and everyone can access it!
          </div>
          <div class="home-login">
            <%= render 'sessions/loginform' %>
          </div>
          <span class="button-1"> <%= link_to "Sign-Up now!", signup_path, class: "btn btn-primary" %></span>
        </div>
  </body>
</html>

<% end %>