<% provide(:title, "Terms") %>

<h2 class="<% unless logged_in? %> unlogged-head <% else %> generic-header <% end %>">
    Scorecliq Terms
</h2>

<div class="service-wrapper">
    
    <h4>TERMS OF SERVICE</h4>
    
    <p>
        The following terms and conditions govern all use of the scorecliq 
        website and all content and services. Our Services are offered subject to your 
        acceptance without modification of all of the terms and conditions contained herein and 
        all other operating rules and policies. You agree that we may automatically upgrade our Services, 
        and these terms will apply to any upgrades.
    </p>
    
    <p>
        Please read this Agreement carefully before accessing or using our Services. 
        By accessing or using any part of our services, you agree to become bound by the terms and 
        conditions of this agreement. If you do not agree to all the terms and conditions of this agreement, 
        then you may not access or use any of our services. 
    </p>
    
    <p>
       Our Services are not directed to children younger than 13, and access and use of 
       our Services is only offered to users 13 years of age or older. If you are under 13 years old, 
       please do not register to use our Services. Any person who registers as a user or provides their 
       personal information to our Services represents that they are 13 years of age or older. Use of our 
       Services requires a scorecliq.com account. You agree to provide us with complete and accurate information 
       when you register for an account. You will be solely responsible and liable for any activity that occurs 
       under your username. You are responsible for keeping your password secure. 
    </p>
    
    <h4>SCORECLIQ’S INTELLECTUAL PROPERTY AND RIGHTS</h4>
    
    <p>
        This Agreement does not transfer to you any Scorecliq intellectual property, 
        and all right, title, and interest in and to such property will remain solely with Scorecliq.  
        The Scorecliq logo, and all other trademarks, service marks, graphics, software and logos used in 
        connection with Scorecliq.com or our Services,are trademarks or registered trademarks of Scorecliq. 
        Your use of our Services grants you no right or license to reproduce or otherwise use any scorecliq or 
        any other trademarks. As Scorecliq asks others to respect its intellectual property rights, it respects 
        the intellectual property rights of others. Scorecliq will terminate a visitor’s access to and use 
        of the Website if, under appropriate circumstances, the visitor is determined to be a infringer of the 
        copyrights or other intellectual property rights of Scorecliq or others. In the case of such termination, 
        Scorecliq will have no obligation to provide a refund of any amounts previously paid to Scorecliq.
    </p>
    
    <h4>SCORECLIQ ACCOUNT AND WEBSITE</h4>
    
    <p>
      Scorecliq is an awesome league managing system. It’s basic service is free and we offer paid services which allow users to use more features on the website. At Scorecliq, we have a few principles and guidelines: 
      <br>If the user creates an account on scorecliq.com, the user is responsible for maintaining the security of the account.
      <br>The user is fully responsible for all activities that occur under the account and any other actions taken in connection with the account. 
      <br>At scorecliq, we strictly prohibit things such as (spam, viruses, or threats of violence) on the website. Engaging in such activities just described can result in deleting the user’s account and/or forever be banned from using the site. 
      <br>Access to scorecliq may be suspended in the case of system failure, maintenance, repair or any reason that may be beyond our control.
    
    </p>
    
    <h4>CHANGES</h4>
        
    <p>
        We are constantly updating our Services, and that means sometimes we have to change the legal 
        terms under which our Services are offered.  Scorecliq holds the discretion  to make changes to 
        the policies at anytime without any given notice to its users or other site visitors. Your continued 
        use of our Services swill subject you to the new terms. However, any dispute that arose before the changes 
        shall be governed by the Terms (including the binding individual arbitration clause) that were in place when 
        the dispute arose. Scorecliq may change its Privacy Policy from time to time on its own discretion. Scorecliq 
        encourages users to check this page for any changes to its privacy policy. Your continued use of 
        this site after any change in the Privacy Policy will translate into your acceptance of such change.
    </p>
    
    <h4>PAYMENTS/RENEWALS</h4>
    
    <p>
        Scorecliq uses stripe to process payments on the site. BY making a payment on scorecliq using stripe, 
        you agree that all financial processing will be managed, controlled and handled by Stripe.com. In using 
        Stripe, you are subject to Stripe’s current Terms and Conditions. 
    </p>
    
    <p>
        Unless you notify Scorecliq before the end of the applicable subscription 
        period that you want to cancel an subscription, your subscription will automatically 
        renew and you authorize us to collect the then-applicable annual or monthly subscription 
        fee for such  subscription(as well as any taxes) using any credit card or any other payment 
        mechanism we have on record for you. Upgrades can be canceled at any time in the Upgrades 
        section of your website’s dashboard.
    </p>
    
    <p>
        Scorecliq reserves the right to change its prices at anytime without notice. 
        It is the user’s responsibility to be aware of any change that’s made to the pricing plans. 
        You authorize us to charge any then-applicable fees to your credit card or other payment method we 
        have on file for you.
    </p>
    
    <h4>PRIVACY POLICY</h4>
    
    <h5>INFORMATION SCORECLIQ COLLECTS </h5>
    
    <p>
        Scorecliq collects information such as name and email address. Scorecliq collects 
        such information only insofar as is necessary or appropriate to fulfill the purpose of the 
        users interaction with scorecliq. scorecliq does not disclose email addresses anywhere on the site. 
        The name is used to identify the user throughout the site on various pages. And visitors can always 
        refuse to supply personally-identifying information, with the condition that it may prevent them from 
        signing up on the site. 
    </p>
    
    <p>
        Scorecliq discloses potentially personally-identifying information and personally identifying 
        information only to its employees that need to know the information in order to use it on scorecliq’s 
        behalf and have agreed to not disclose it to others. Scorecliq will not rent or sell potentially 
        personally-identifying and personally-identifying information to anyone. Other than its employees 
        described above. Scorecliq discloses potentially personally-identifying and personally-identifying 
        information only when required to so by law or when scorecliq believes in good faith that disclosure is 
        reasonably necessary to protect the property or rights of scorecliq. 
    </p>
    
    <p>
        If you are user of scorecliq, we may occasionally send you information 
        to inform you with thats going on with scorecliq and our features/products. 
        We expect to keep this type of communication to minimum. 
    </p>
    
    <h5> COOKIE POLICY</h5>
    
    <p>
        A cookie is a string of information that a website stores on a users computer, and the 
        users browsers provides to scorecliq each time the user return. Scorecliq uses cookies 
        to persist the user from one page to another. The cookies help scorecliq identify the user 
        moves from page to page. Scorecliq users who do not wish to have cookies placed on the computers 
        should set their browsers to refuse cookies before using scorecliq websites given than the user will 
        not be persisted throughout the pages. Therefore, website may not function properly without cookies. 
    </p>
</div>