<div class=" comment-div" id="comment_<%=comment.id%>"> 
 <div class="row">
      <div class="col-xs-12 comment-name">
       <%= comment.user.name %>
       <span class="pull-right">4 weeks ago</span>
      </div>
 </div>
 
 <div class="comment-info">
      <div class="prof-pic">
       profile-pic
      </div>
      <div class="comment-content">
           <div class="comment-body">
            this comment is alright
           </div>
           <div class="comment-set">
            Reply | Del
           </div>
      </div>
 </div>
</div>

    