<h2 class="topics-header">DICUSSION TOPICS</h2>

<%= link_to "Create Topic", new_scoreboard_topic_path(@scoreboard), class: "btn btn-primary" %>

<div class="topic-list">
    <div class="topic-label row">
        <div class="col-xs-9 col-sm-10 label-1">
            Topic Name
        </div>
        <div class="col-xs-2 col-sm-1 label-1 lab-2">
            Posts
        </div>
    </div>
    <%= render @topics %>
</div>

<!--css from new team member will apply here to the pages -->
<div class="row">
    <div class="col-xs-12 new-member-pages">
        <%= will_paginate @topics %>
    </div>
</div>
