   
    <% @admins.each do |admin| %>
         <div class="row admin-div">
            <div class="col-xs-12 col-sm-8 admin-prof-link">
                <%= link_to admin.name, user_path(admin.id) %>
            
                <%= link_to (unassign_manager_path(:scoreboard_id => @scoreboard.id, :user_id => admin.id)), :method => 'delete',data: {confirm: "Unassign Admin?"} do %>
                    <i class="fa fa-times-circle pull-right" aria-hidden="true"></i>
                <% end %>
            </div>
        </div>
    <% end %>
