<% @admins.each do |admin| %> 
  <div class="row admin">
             <div class="col-xs-12 admin-name">
                 <%= link_to admin.name, user_path(admin) %>
                
                  <%= link_to new_user_conversation_path(admin) do %>
                     <i class="fa fa-envelope pull-right" aria-hidden="true"></i>
                  <% end %> 
              </div>
  </div>
<% end %>