<div class="score-contain">
      <h1 class="score-header-form"></h1>
      <div class="score-form">
       
        <h1>Update your scoreboard.</h1>

        <%= form_for(@scoreboard) do |f| %>
      
        <%= render 'shared/error_messages', object: f.object %>
        
        <%= render 'scoreboardform', :f => f %>
         
        <%= f.submit "Update", :data => {:disable_with => "Updating..."} %>
    
         <% end %>
      </div>
  </div>
</div>