<h2 class="generic-header">
    <%= link_to scoreboard_path(@scoreboard) do %>
     <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
   <% end %>
    MEMBER LIST
</h2>



<%= form_tag(followers_scoreboard_path, :method => "get", id: "follower-search-form", autocomplete: "off") do %>
<div class="row new-admin-field">
    <div class="col-xs-12 col-sm-8">
        <%= text_field_tag :search, params[:search], placeholder: "Filter Members by Name",maxlength: 30, class:"form-control" %>
    </div>
</div>
<% end %>

<div class="follower-org-list">
    <%= render "follower" %>
</div>