<h2 class="generic-header">MY LEAGUE PAGES</h2>

<h4 class="pages-label"> OWNED PAGES </h3>

<div class="owned-list">
    <% if @owned_scoreboards.any? %>
       <%= render 'ownedboards' %>
    <% else %>
       <div class="row">
           <div class="col-xs-12 owned-default">
               You don't own any league pages currently. If you would like to set up a page for your
               league or club, please <%= link_to "create a new page.",new_scoreboard_path %>
           </div>
       </div>
    <% end %>
</div>

<h4 class="pages-label"> FOLLOWED PAGES</h3>

<div class="followed-list">
    <% if @followed_scoreboards.any? %>
        <%= render 'followedboards' %>
    <% else %>
          <div class="row">
           <div class="col-xs-12 followed-default">
               You don't follow any league pages currently. Please use the <%= link_to "search", search_path %> page to 
               search for a league page for your organization/club. 
           </div>
       </div>
    <% end %>
</div>
