<section class="scoreboard-view">
    <div class="row">
        
        <div class="col span-1-of-2 box">
            <h3>Scoreboards You Own</h3>
            
            <% if @owned_scoreboards.any? %>
                  <%= render "ownedboards" %>
            <% else %>
                  <div class="no-own-index">
                    <p>
                       You don't own any Scoreboards. Do you want to create one
                       for your organization or league? 
                    </p>
                   <%= link_to "Create New Scoreboard", new_scoreboard_path , class:"btn btn-full" %>
                  </div>
             <% end %>
        </div>
        
        <div class="col span-1-of-2 box">
            <h3>Scoreboards You Follow</h3>
            
            <% if @followed_scoreboards.any? %>
                  <%= render "followedboards" %>
            <% else %>
                  <div class="no-follow-index">
                     <p>
                        You don't follow any Scoreboards. How about searching for 
                        an organization you're a part of?
                     </p>
                     <%= link_to "Search for Scoreboards", search_path , class: "btn btn-full" %>
                  </div>
             <% end %> 
        </div>
    </div>
</section>