<div class="modal fade" id="captain-modal" tabindex="-1" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        ASSIGN A TEAM CAPTAIN
      </div>
      <div class="modal-body">
        <% if @team_members.any? %>  
            <div class="container-fluid">
                  <% @team_members.each do |member| %>
                        <div class="row member-div">
                            <div class="col-xs-12 member-prof-link">
                                <%= link_to member.name, user_path(member.id) %>
                                 <% if @team.captains.include?(member) %>
                                    <i class="fa fa-copyright" aria-hidden="true"></i>
                                 <% end %>
                        
            
                               <% if @team.captains.include?(member) %>
                                  <%= link_to "Unassign", unassign_captain_path(:scoreboard_id => @scoreboard.id, :team_id => @team.id, :member_id => member.id), :method => 'put', class:"btn btn-primary pull-right" %>
                               <% else %>
                                   <%= link_to "Assign", assign_captain_path(:scoreboard_id => @scoreboard.id, :team_id => @team.id, :member_id => member.id), class: "btn btn-primary pull-right", :method => 'put' %>
                               <% end %>
                            </div>
                        </div>
                  <% end %> 
            </div>
        <% else %>
          <h4>Please add team members to this team before assigning a captain. </h4>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary modal-close" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

