<div class="container">
  <div class="row">
    <section class="greeting">
       Welcome to the Scoreboard App
      </section>
    </div>
    <div class="row">
      <div class="col-md-2 my-score"><div class="well">Want to make changes to
      scoreboards you own? or check for updates on the scoreboards you
      follow? <%= link_to "My Scoreboard", "#", class: 'btn btn-primary' %></div></div>
      
      
      <div class="col-md-4 col-md-offset-1">
        <div class="img-1">
          Do you want to create a scoreboard for your team, league or 
          organization? Well look no further. Click below to create your 
          scoreboard and invite the members to view it. 
        <span class="btn-1"><%= link_to "Create new Scoreboard", "#", class:
         "btn btn-primary"%></span>
        </div>
      </div>
       <div class="col-md-4 col-md-offset-1"><div class="img-2">
         Did Someone tell you about a scoreboard? Well Begin your search! You
         may find your scoreboard to view soon. Check it out!! There are many 
         scoreboards out there!
        <span class="btn-2"><%= link_to "Search for New Scoreboard", users_path , class:
        "btn btn-primary"%></span>
      </div></div>
    </div>
    <div class="row">
      <div class="col-md-2 well"> This is some helpful tip  </div>
      <div class="col-md-9 col-md-offset-1">
        <div class="row">
          <div class="col-md-12 well">YO THIS IS CONFUU</div>
        </div>
        <div class="row">
          <div class="col-md-4 well">Cool News</div>
          <div class="col-md-4 well">Cool News</div>
          <div class="col-md-4 well"> Cool News</div>
        </div>
      </div>
    </div>
</div>