
<% provide(:title, "Home") %>
<div class= "home-pg-contain">
  <div class="home-head"> Welcome to the Scoreboard App</div>
  <div class="my-score-desc well">Visit My Scoreboard to View, Edit and Delete Scoreboard
   <span class="my-score-button">
    <%= link_to "My Scoreboard", scoreboards_path , class: 'btn btn-primary' %>
   </span>
  </div>
  <div class="create-new-desc well">
    Are you the coach or leader of an organization and want a scoreboard
    to display to your members. Well look no further!
     <span class="create-score-button">
       <%= link_to "Create new Scoreboard", new_scoreboard_path , class:"btn btn-primary"%>
     </span>
  </div>
  <div class="search-score-desc well">
    Did someone tell you about a scoreboard? Are you a part of an 
    organization that owns a scoreboard? Well, what are you waiting for? 
     <span class="search-score-button">
       <%= link_to "Search for Scoreboards",users_path , class:"btn btn-primary"%>
     </span>
  </div>
  <div class="helpful-tip well">
    Did you know that scoreboard was created in when the light of the heavens
    touch the earth?  Deez nuts. GOTTI! HAH!. 
  </div>
  
  <div class="helpful-tip-2 well">
    Man you must be a confused ass nigga to look into this section. Well click 
    here for help. 
  </div>
  <div class="news-contain">
   <div class="cool-news-1 well">
    Man, this news is so cool. You become cool just by reading it.
   </div>
   <div class="cool-news-2 well">
   You thought the last news was cool? Well you were right you piece of shit.  
   </div>
   <div class="cool-news-3 well">
    Man, da fuck. Why are you even reading this? 
   </div>
  </div>
  
</div>