<div class="container-non-responsive">
  <div class="row">
    <section class="greeting">
       Welcome to the Scoreboard App
      </section>
    </div>
    <div class="row">
      <div class="col-md-2 my-score"><div class="well">Want to make changes to
      scoreboards you own? or check for updates on the scoreboards you
      follow? <%= link_to "My Scoreboard", "#", class: 'btn btn-primary' %></div></div>
      
      
      <div class="col-md-4 col-md-offset-1">
        <div class="img-1 img-rounded">
          Do you want to create a scoreboard for your team, league or 
          organization? Well look no further. Click below to create your 
          scoreboard and invite the members to view it. 
        <span class="btn-1"><%= link_to "Create new Scoreboard", "#", class:
         "btn btn-primary"%></span>
        </div>
      </div>
       <div class="col-md-4 col-md-offset-1"><div class="img-2 img-rounded">
         Did Someone tell you about a scoreboard? Well Begin your search! You
         may find your scoreboard to view soon. Check it out!! There are many 
         scoreboards out there!
        <span class="btn-2"><%= link_to "Search for New Scoreboard",users_path , class:
        "btn btn-primary"%></span>
      </div></div>
    </div>
    <div class="row">
      <div class="col-md-2 well helptip1"> This is some helpful tip. If you read this
      you will gain magical powers. </div>
      <div class="col-md-9 col-md-offset-1">
        <div class="row">
          <div class="col-md-12 helptip2 well">Lost on what you need to do? 
          Click here to learn on how to use the site! filler text 
          filler text filler text filler text filler text filler 
          text filler text filler text filler text
          filler text filler text filler text filler text</div>
        </div>
        <div class="row">
          <div class=" news-pics">
          <div class="col-md-4 well news1">On July 22nd we started working on this
          project. Can't believe we came so far.</div>
          <div class="col-md-4 well news2">Did you know that 
          everytone could use a scoreboard? Well Now you do. </div>
          <div class="col-md-4 well news3"> If you don't wanna use this app
          go kill yourself</div>
          </div>
        </div>
      </div>
    </div>
</div>