<% provide(:title, "Sign-up") %>

<section class="user-sign-up">
    <div class="row">
        <h2> Sign-up!</h2>
    </div>
    
    <div class="row">
        <div class="col span-1-of-3 box">
            <%= render 'users/signupform' %>
        </div>
    </div>
</section>

