<% provide(:title, @user.name) %>
<div class="profile-container">
 <div class="user-tit">
      <h3> <%= @user.name %> </h3>
 </div>
 <div class="prof-pic well">
   This is where the profile pic will go. 
 </div>
 
 <div class="info-box well">
  Name: Paul Dhatt <br>
  Age: 22
 </div>
 
 <div class="desc-area well">
  I am a part of 40 different sports team. I was an all state champion at
  the University of Wisconsin. Sometimes, I abuse my wife. 
 </div>
 
 <div class="prof-help-tip well">
  Sometimes, One must explore the wild wildnerness to truly understand
  the world.
 </div>
 
 <div class="score-own well">
  Scoreboards I own in a scrollable div
 </div>
 
 <div class="score-follow well">
  <% @user.favourite_scoreboards.each do |favourite| %> <br></br>
  <%= link_to "#{favourite.name_of_scoreboard}", scoreboard_path(favourite) %>
  <% end %>
 </div>
 
    
</div>











