<% provide(:title, @user.name) %>
<div class="profile-container well">
 <div class="user-tit">
      <h3> Welcome, <%= @user.name %>! </h3>
 </div>
 <div class="prof-pic well">
   This is where the profile pic will go. 
 </div>
    
</div>











