<% provide(:title, @user.name) %>
<div class="row">
  
    <section class="user_info">
      <h1> Welcome to ScoreBoard, <%= @user.name %>! </h1>
    </section>
  
</div>

<div class=box1>box</div>
<div class=box2>box</div>
<div class=box3>box</div>
<div class=box4>box</div>
<div class=profpic>Profile Picture</div>
<div class= menucontainer>
  <ul class= usermenu>
    <li><a href="#">My Scoreboards</a></li>
    <li><a href="#">Following</a></li>
    <li><a href="#">Menu Option 3</a></li>
    <li><a href="#">Menu Option 4</a></li>
  </ul>
</div>


