<div id="schedule_errors">
    <div id="schedule-error-header">
        Please Fix the following errors:
    </div>
   <ul>
    <% @schedule.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
   <% end %>
   </ul>
</div>


