<div class="schedule-teams-entry">
  <%= f.text_field :team1, class: "team1-form", placeholder: "Enter  First Team name"  %>
<div class="schedule-teams-vs"> vs </div>
  <%= f.text_field :team2, class: "team2-form", placeholder: "Enter Second Team Name" %>
</div>
               
<div class="schedule-detail-entry">
  <%= f.text_area :detail , class: "schedule-detail-form" %>
</div>
           
           

  
  
  
