<section class="home-img">
    <div class="container-fluid">
        <% flash.each do |message_type,  message| %>
               <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
        
        <div class="row home-header">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 sub-content">
                <h2>Managing Your League is a Cliq Away</h2>
                <p> 
                  Scorecliq is a solution to streamline league/club management. We strive to not only 
                  save the league/club organizers valuable time but also enhance communication amongst the members.
                </p>
                <br>
                <a id="home-down">
                    <i class="fa fa-chevron-circle-down fa-2x" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="how-it-works" id="home-first-sec">
    <div class="container-fluid">
        <h1 class="work-head">
            How Does Scorecliq work? 
        </h1>
        
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
                <h3 class="how-head"> <span class="number">1</span> Create A Page</h3>
                
                <div class=" how-text">
                    An owner/coach/admin of a league or club will need to create a designated
                    league page on Scorecliq. Upon creation of the page, various tools to assist in 
                    league management will be automatically set up along with a profile page.
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
                <h3 class="how-head"> <span class="number">2</span> Share the Page </h3>
                
                <div class=" how-text">
                    After the page has been created, spread the word! Inform the members of the league/club
                    that a page has been created on Scorecliq. You may share a link to the profile on various
                    social media networks through the league profile page or email individuals using our features.
                    We even provide a search option. Members may sign up for the site and even search for the page themselves!
                </div>
            </div>
        </div>
        
        <div class="row last-row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
                <h3 class="how-head"> <span class="number">3</span> Manage & Communicate</h3>
                
                <div class=" how-text">
                    Members of a league will need to sign up with Scorecliq to access the league page! Their accounts are free of course!
                    Once they visit the league page, they may follow the page for any updates the creator of the page may want 
                    to provide them with! Tools will be provided to keep league management and communication nice and simple for both the league admins and members!
                </div>
            </div>
        </div>
        
    </div>
</section>

<section class="features">
    <div class="container-fluid">
        <h1 class="feature-head">
             Check Out Our Features!
        </h1>
        
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 feature-column">
                <i class="fa fa-users" aria-hidden="true"></i>
                <h3>Teams & Standings</h3>
                <p>Easily add teams to the database and keep a record 
                   of their W/L/T standings in the league. Members may check
                   standings for updates on their team.
                </p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 feature-column">
                 <i class="fa fa-file-text-o" aria-hidden="true"></i>
                <h3>Documents</h3>
                <p>Need to distribute forms or waivers to your members?
                   Perhaps upload a scoresheet? Easily upload documents 
                   which members may download themselves.
                 </p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 feature-column">
                 <i class="fa fa-comments-o" aria-hidden="true"></i>
                <h3>Discussion & Messaging</h3>
                <p>
                    Discuss topics of interest amongst the league members. 
                    Members may pose questions for the whole league or utilize 
                    personal messaging for privacy.
                </p>
            </div>
       
        
            <div class="col-xs-12 col-sm-4 col-md-4 feature-column">
                 <i class="fa fa-lock" aria-hidden="true"></i>
                <h3>Privacy</h3>
                <p>
                    Don't want to be public? No problem! Protect your records 
                    by making your page private. Private pages will require league
                    admin's approval to follow. 
                </p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 feature-column">
                 <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <h3>Match Schedules</h3>
                <p>
                    Provide a list of upcoming matches amongst 
                    the teams in your league! Whether it's for your own reference or to
                    inform your league members. Your call!
                </p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 feature-column">
                 <i class="fa fa-calendar" aria-hidden="true"></i>
                <h3>League Events</h3>
                <p>
                    Didn't think we'd not account for league events did ya? Inform your members 
                    of upcoming league events for maximal attendance!
                </p>
            </div>
        </div>
        
        <h3 class="more-features"> But there's so much more......</h3>
    </div>
</section>

<section class="plans">
    <div class="container-fluid">
        <h1 class="plans-head">
            Our Simple Plans
        </h1>
        
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-2">
                <div class="plan-box">
                    <h3 class="plan-type">INDIVIDUAL</h3>
                    <h2 class="plan-price">FREE</h2>
                    <div class="plan-desc">Default Plan</div>
                    <div class="plan-features">
                        <h4 class="point"><i class="fa fa-check" aria-hidden="true"></i>   Starter Plan </h4>
                        <h4 class="point"><i class="fa fa-check" aria-hidden="true"></i>   For Very Small Clubs or Leagues </h4>
                        <h4 class="point"><i class="fa fa-check" aria-hidden="true"></i>   Follow Unlimited Pages </h4>
                        <h4 class="point"><i class="fa fa-times" aria-hidden="true"></i> Restricted to owning/creating only 1 League Page </h4>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="plan-box">
                    <h3 class="plan-type">MASTER</h3>
                    <h2 class="plan-price">$29.99/month</h2>
                    <div class="plan-desc">Upgraded Upon Request</div>
                    <div class="plan-features">
                        <h4 class="point"> <i class="fa fa-check" aria-hidden="true"></i> Advanced Plan for League/Club Owners </h4>
                        <h4 class="point"><i class="fa fa-check" aria-hidden="true"></i>Follow Unlimited Pages</h4>
                        <h4 class="point"><i class="fa fa-check" aria-hidden="true"></i> Own/Create Unlimited League Pages </h4>
                        <h4 class="point"><i class="fa fa-check" aria-hidden="true"></i> Assign Admins to Your Pages to Save Time </h4>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="sign-up-offer">
            <%= link_to "Start With a Free Account", signup_path, class: "btn btn-primary btn-lg " %>
        </div>
    </div>
</section>

