<h2 class="events-header"> EVENTS </h2>

<% if manager_or_owner?(@scoreboard, current_user) %> 
   <%= link_to "CREATE EVENT", new_scoreboard_event_path(@scoreboard, @event), class: "btn btn-primary" %>
   
   <%= link_to "Clear Events", deleteevents_scoreboard_path(@scoreboard),method: :delete, class: "btn btn-danger", :data => {:confirm => "Are you absolutely sure you want to delete all events?"} %>
<% end %>




<div class="event-list">
    <% if @events.any? %>
       <%= render 'event_list' %>
    <% elsif manager_or_owner?(@scoreboard, current_user)%>
      <div class="default-div">
          There are no upcoming events. If you would like to schedule an event, please use the "Create Event" 
          button. 
      </div>
   <% else %>
       <div class="default-div">
          There are no upcoming events. 
      </div>
   <% end %>
</div>

