<div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-offset-1">
        <div class="dash-plan">
            <h3>
                YOUR PLAN
            </h3>
            
            <div class="plan-type">
                <span class="plan-span">
                    INDIVIDUAL
                </span>
            </div>
            
            <div class="plan-upgrade">
                <%= link_to "Upgrade", user_subscription_path(current_user), class: "btn btn-primary" %>
            </div>
            
        </div>
    </div>
</div>