<h2 class="generic-header">
  <%= link_to user_subscription_path(current_user) do %>
     <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
   <% end %>
  Update Your Card
</h2>

<div id="has-javascript">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
        <%= form_tag user_card_path(current_user), method: :put, id: "payment-form" do %>
          <div class="payment-wrapper">
              <div id="cover">
                 <!--this div is meant to disable payment section-->
              </div>
              <span class="payment-errors"></span>
              
               <div class="card-icons">
                 <span class="icon-label"> WE ACCEPT:</span>
                 <i class="fa fa-cc-amex" aria-hidden="true"></i>
                 <i class="fa fa-cc-visa" aria-hidden="true"></i>
                 <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
               </div>
             
                <div class="card-details">
                  <input type="text" size="20"data-stripe="number" placeholder="Card Number" class="form-control">
                </div>
                
                <div class="exp-details clearfix">
                  <div class="exp-label">
                    EXP (MM/YY)
                  </div>
                  <div class="exp-month-field">
                      <input type="text" size="2" data-stripe="exp_month" placeholder="MM" class="form-control">
                  </div>
                  
                  <span class="divider-span">
                      /
                  </span>
                  
                  <div class="exp-year-field">
                    <input type="text" size="2" data-stripe="exp_year" placeholder="YY" class="form-control">
                  </div>
                </div>
                
                <div class="cvc-details clearfix">
                  <div class="cvc-label">
                    CVC
                  </div>
                  <div class="cvc-field">
                    <input type="text" size="4" data-stripe="cvc" class="form-control">
                  </div>
                </div>
            
                <input type="submit" class="submit btn btn-primary form-control" value="Submit Payment" >
            </div>
        <% end %>
    </div>
  </div>
</div>


<div id="stripe_error" class="default-div">
  <noscript>JavaScript is not enabled and is required for the subscription form. Please enable it in your browser to enable subscription page.</noscript>
</div>