<% provide(:title, "Plan Settings") %>
<h2 class="generic-header">
    <%= link_to home_path do %>
     <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
   <% end %>
    Your Plan Settings
</h2>

<% if subscribed?(current_user) %>
      <%= render 'subscribed' %>
<% else %>
     <%= render 'notsubscribed' %>
<% end %>

<% if @charges.any? %>
   <%= render 'charges' %>
<% end %>
