<p>Team Matches </p>
   <% form_for [@scoreboard, @team], remote: true do |f| %>
   <% render 'teams/teamsform', :f => f %>
   <% f.submit "Add", :data => {:disable_with => "Saving..."}, class: "form-3 btn btn-primary" %>
   <% end %>





