<div id= "uploadphoto">
  <%= form_for([@pictureable, @picture], html: {multipart: true}) do |f| %>
   <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', id: "files", class: "hidden" %>
    <label for="files" id="pictureframe"><h4 id="pictureframetext">Click Here to Upload Picture</h4></label> 
       <div class="modal" id="modal-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">Position and Crop your Image</div>
             <div class="modal-body">
             <div class="upload-preview">
               <img id="image" /></img>
             </div>
             <%= f.submit "upload photo" %>
            </div>
            <div class="modal-footer"> Click Anywhere Outside the box to Cancel</div>
          </div>
        </div>
      </div>
  <% end %>
</div>







