
  <%= form_for([@pictureable, @picture], html: {multipart: true}) do |f| %>

     <div class="modal fade" id="picmodal" tabindex="-1" role="dialog" aria-labelledby="picmodal" aria-hidden="true"> 
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header" style="text-align: center">Selected Image</div>
             <div class="modal-body">
             <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', id: "files" %>
             <div class="upload-preview" style="text-align: center">
               <img id="image" /></img>
             </div>
            </div>
            <div class="modal-footer">
                <%= f.submit "upload photo", class: "hidden", id: "uploadphotobutton" %>
                <button class="btn btn-primary", for: "uploadphotobutton">Save Changes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      
  <% end %>


   