<%= provide(:title, "Conversations") %>
<h2 class="conversation-index-header">YOUR MESSAGES</h2>

<div class="conversation-list">
    <% if @conversations.any? %>
        <%= render "convolist" %>
    <% else %>
        <div class="row default-div">
            <div class="col-xs-12">
                You don't have any messages at the moment. 
            </div>
        </div>
    <% end %>
</div>

<!--css from new team member will apply here to the pages -->
<div class="row">
    <div class="col-xs-12 new-member-pages">
        <%= will_paginate @conversations %>
    </div>
</div>
