@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';

// COLOR VARIABLES 
// background-color of main nav: ##1c75bf;
// background-color of side nave: #455a69;
// button-color: #058eae
$cliq-white: #EFEFEF;

/* ----------------------------------------------- */
/* SOME UNIVERSAL STYLING */
/* ----------------------------------------------- */
html {
 /* Accomodate the footer so the min-height is 100% */
  position: relative;
  min-height: 100%;
}

body { 
    /* Accomodate the header navbar */
    padding-top: 50px;
    background-color: $cliq-white;
    /* Margin bottom by footer height */
    padding-bottom: 80px;
    color: #555;
}

// THE BOOTSTRAP  SIDEGUTTER LENGTH REGULATED BY ROWS FOR COLUMNS IS CANCELLED FOR MAIN CONTAINER 
.row{
    margin-left: 0;
    margin-right: 0;
}

/* ----------------------------------------------- */
/* VARIABLES, MIXINS, BUTTONS   */
/* ----------------------------------------------- */

.btn{
    text-transform: uppercase;
   
}

.btn-primary{
    background-color: #058eae;
    color: $cliq-white;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #216273;
}

/* ----------------------------------------------- */
/* TOP HEADER STYLING */
/* ----------------------------------------------- */

.main-nav{
    background-color: #1c75bf; /* CHANGE THIS TO CHANGE BACKGROUND COLOR OF MAIN NAV */
    box-shadow: 0 8px 6px -6px #999;
    z-index: 50;
    color: $cliq-white;
    
    a {
        text-decoration: none;
        color: $cliq-white;
    }
}

/** DROPDOWN STYLING **/

.nav .dropdown ul{
    background-color: #253341;
    color: $cliq-white;
    
    a{
        color: $cliq-white;
    }
}

/* ----------------------------------------------- */
/* SIDENAV STYLING  */
/* ----------------------------------------------- */

/** SHOW SIDENAV UNLESS ASKED NOT TO ***/
.sidebar {
        display: none;
    }

@media (min-width: 768px) {
  .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 70;
        display: block; /*** shows this element on screens bigger than 768 px */
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #253341; /* CHANGE THIS TO CHANGE SIDEBAR COLOR */
    li {
        background-color: inherit;
        text-transform: uppercase;
        font-size: 85%;
        font-weight: 400;
        a{
            color: $cliq-white;
        }
    }
  }
}

/* ----------------------------------------------- */
/* MAIN CONTAINER  */
/* ----------------------------------------------- */

/* CANCEL DEFAULT PADDING ON MAIN COLUMN */
.main {
  padding: 0px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
    overflow-x: hidden;
  }
}

/* ----------------------------------------------- */
/* General and CUSTOM JQUERY DIALOG CONFIRMATION  */
/* ----------------------------------------------- */
.modal-content{
    .modal-header{
        text-align: center;
        font-size: 120%;
        padding: 2%;
        background-color: #1c75bf;
        color: #fff;
    }
    .modal-body{
        background-color: #efefef;
    }
}

#dialog-confirm{
    .modal-header{
        text-align: center;
        font-size: 120%;
        padding: 1%;
        background-color: #1c75bf;
        color: #fff;
    }
    .modal-body{
        text-align: center;
        font-weight: 600;
        padding: 5%;
        background-color: #efefef;
        color: #555;
    }
    .modal-footer{
        padding: 1%;
    }
    
}
/* ----------------------------------------------- */
/* FOOTER STYLING  */
/* ----------------------------------------------- */
 .footer{
     position: absolute;
     bottom: 0;
     width: 100%;
     /* Set the fixed height of the footer here */
     height: 40px;
     background-color: #1c75bf;
 }
/* ----------------------------------------------- */
/* ERROR MESSAGES */
/* ----------------------------------------------- */
#error_explanation {
    color: red;
    ul {
        color: red;
        margin: 0 0 15px 0;
    }
}

//modal error messages 
#errormodalbody{
    .error-div{
        border-bottom: solid 1px red;
        padding: 1%;
        color: red;
    }
}

/* ----------------------------------------------- */
/* DATEPICKER */
/* ----------------------------------------------- */

.datepicker thead{
    :first-child:second-child{
        background-color: #253341;
    }
    .dow{
        background-color: #1c76bf;
        color: #efefef;
        border-radius: 0;
    }
}

// if you dont want to display the old and new month's dates
// // .datepicker table tr td.old, .datepicker table tr td.new { visibility: hidden; }
