@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
}

/* Universal */

body {
    padding-top: 60px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text_align: center;
    h1 {
        margin-bottom: 10px;
    }
}

/* General Typography */

h1 {
    text-align: center;
}

/* home-page  prelogin */
.main-img{
    height: 536px;
    width: 1150px;
    background-image: image-url('soccer.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
}

.home-greet{
    font-weight: bold;
    font-size: 30px;
    position: relative;
    left: 39px;
    top: 50px;
}

.log-form{
    width: 312px;
    height: 241px;
    position: relative;
    bottom: 197px;
    left: 744px;
}

.button-1{
    position: relative;
    left: 39px;
    bottom: 249px;
}

.explain{
    height: 190px;
    width: 401px;
    position: relative;
    left: 39px;
    top: 56px;
}

.navigation {
    background-color: #FFFFFF
}

/* header */

#logo {
    float: left;
    margin-right: 100px;
    font-size: 1.3em;
    letter-spacing: 0px;
    padding-top: 15px;
}

/* footer */

footer {
    margin-top: 40px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: $gray-light;
    small {
        float: left;
    }
    ul {
        float: right;
        list-style: none;
    }
    ul {
        float: right;
        list-style: none;
        li {
            float: left;
            margin-left: 15px;
            color: #000000;
        }
    }
}

/* miscellaneous */

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
}

/* sidebar */


.row {
    section.user_info {
        margin-top: 20px;
        text-align: center;
     
    }
    section {
        padding: 10px 0;
        margin-top: 20px;
    }

    h1 {
        font-size: 1.5em;
        letter-spacing: -0.5px;
        margin-bottom: 3px;
        margin-top: 0px;
    }
} 


/* forms */

input, textarea, select, .uneditable-input {
    width: 100%;
    margin-bottom: 5px;
}

input {
    height: auto !important;
}

/* error messages */

#error_explanation {
    color: red;
    ul {
        color: red;
        margin: 0 0 30px 0;
    }
}

.field_with_errors {
    @extend .has-error;
    .form-control {
        color: $state-danger-text;
    }
}

/* remember me */

.checkbox {
    margin-top: -3px;
    margin-bottom: 10px;
    span {
        margin-left: 20px;
        font-weight: normal;
    }
}


/* This is styling the remember me button */
#session_remember_me {
    width: auto;
    margin-left: 0;
}

/* users */
.users {
    list-style: none;
    margin: 0;
    li {
        overflow: auto;
        padding: 10px 0;
        border-bottom: 1px solid $gray-lighter;
    }
}

/* user-menu */

.position-top {
    margin-left: 0px;
    margin-top: 20px;
}


.position-middle {
    margin-top: 10px;
}

/*Styling the Home Page Post Login*/

.row{
    section.greeting{
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        position: relative;
        left: 148px;
    }
}

.row{
    .my-score{
        text-align: center;
        font-weight: bold;
    }
}

.img-1{
    background-image: image-url('volley.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 360px;
    height: 213px;
    color: white;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
}

.img-1 .btn-1{
    position: absolute;
    bottom: 0;
    right: 110px;
}

.img-2{
     background-image: image-url('board.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 360px;
    height: 213px;
    color: white;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
}

.img-2 .btn-2{
    position: absolute;
    bottom: 0;
    right: 100px;
    
}

.helptip2{
    text-align: center;
    font-weight: bold;
    position: relative;
    left: 42px;
    width: 855px;
    
}

.news2{
    background-image: image-url('eye.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 286px;
    height: 190px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
    font-weight: bold;
    
}

.news1{
    background-image: image-url('view.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 286px;
    height: 190px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
    font-weight: bold;
}

.news3{
    background-image: image-url('lake.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 286px;
    height: 190px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
    font-weight: bold;
    
}

.helptip1{
    width: 164px;
    height: 290px;
    left: 16px;
}

.news-pics{
    position: relative;
    left: 39px;
}

/* User Profile CSS **/
.user-tit{
    text-align: center;
}

.profile-container{
    width: 1170px;
    height: 700px;
    background-color: grey;
}



    

    




