/* ----------------------------------------------- */
/* This css files deals with everything to do with that isn't tied to a scoreboard  */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* CUSTOM HOVER SIDEBAR AND HEADER  */
/* ----------------------------------------------- */
.custom-top > li > a:hover {  color: #1c75bf; }


.custom-side > li > a:hover {  background-color: #428bca;}

.login-button:hover{ cursor: pointer; }

/* ----------------------------------------------- */
/* PRELOGIN HOME PAGE  */
/* ----------------------------------------------- */

/******* CUSTOM CLASSES *******/
.home-row{
    max-width: 1140;
    margin: 0 auto;
}


.home-img{
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(home-page.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(home-page.jpg);
    background-position: center;
    height: 100vh;
    margin-top: -50px;
    padding-top: 50px;
    background-attachment: fixed;
}

.home-header{
    margin-top: 50px;
    font-size: 16px;
    color: #efefef;
    .sub-content{
        text-align: center;
        a { color: #efefef;}
        a:hover { 
            color: #555; 
            cursor: pointer;
        }
    }
}

.how-it-works{
    .work-head{
        color: #4878AB;
        text-align: center;
    }
    .work-head:after {
        display: block;
        height: 2px;
        background-color: #4878AB;
        content: " ";
        width: 100px;
        margin: 20px auto;
    }
    
    .how-head{
        text-align: center;
        color: #555;
        margin-bottom: 20px;
        .number{
            border: 3px solid;
            padding: 5px 10px;
            border-radius: 50%;
        }
    }
    .how-text{
        font-size: 20px;
        text-align: justify;
        line-height: 145%;
    }
    .last-row{
        margin-bottom: 20px;
    }
}

.features{
    background-color: #fff;
    .feature-head{
        color: #4878AB;
        text-align: center;
    }
    .feature-head:after {
        display: block;
        height: 2px;
        background-color: #4878AB;
        content: " ";
        width: 100px;
        margin: 20px auto;
    }
    .feature-column{
        margin-bottom: 20px;
        text-align: center;
        i {
            font-size: 49px;
            display: block;
            color: #4878AB;
            margin-bottom: 10px;
        }
        h3{ font-size: 25px; }
        p{
            font-size: 18px;
            line-height: 145%;
            text-align: justify;
        }
    }
    .more-features{ text-align: right;}
}

.plans{
    .plans-head{
        color: #4878AB;
        text-align: center;
    }
    .plans-head:after {
        display: block;
        height: 2px;
        background-color: #4878AB;
        content: " ";
        width: 100px;
        margin: 20px auto;
    }
    .plan-box{
        background-color: #fff;
        .plan-type{
            text-align: center;
            padding-top: 10px;
        }
        .plan-price{
            text-align: center;
            color: #4878AB;
        }
        .plan-desc{
            text-align: center;
            padding-top: 10px;
            padding-bottom: 15px;
            border-bottom: solid 5px #efefef;
        }
        .plan-features{
            .point{
                padding: 15px 0 15px 10px;
                .fa-check{ color: #62c462;}
                .fa-times{ color: #d83434; }
            }
        }
    }
    
    .sign-up-offer{
        text-align: center;
        margin-top: 20px;
    }
    
}

/* ----------------------------------------------- */
/* PASSWORD RESETS */
/* ----------------------------------------------- */



/* ----------------------------------------------- */
/* NEW CONVERSATION PAGE  */
/* ----------------------------------------------- */
.new-conversation-header{
    padding-bottom: 1%;
    border-bottom: solid 1px #555;
}

.conversation-form{
    .message-field{
        height: 100px;
        max-width: 100%;
        max-height: 100px;
    }
}

/* ----------------------------------------------- */
/* CONVERSATION INDEX PAGE  */
/* ----------------------------------------------- */

.msg-link-lg{
    position: relative;
    .badge{
        font-size: 8px;
        background: #d83434;
        width: auto;
        height: auto;
        margin: 0;
        border-radius: 50%;
        position: absolute;
        bottom: -10px;
        right: -15px;
    }
}

.msg-link{
    .badge{
        font-size: 7px;
        background: #d83434;
        width: auto;
        height: auto;
        margin: 0;
        border-radius: 50%;
        position: absolute;
        bottom: 5px;
        right: 5px;
    }
}


.conversation-list{
    margin-top: 10px;
    .convo-header{
        width: 90%;
        float: left;
        font-size: 20px;
        background-color: #253341;
        text-align: center;
        margin-bottom: 10px;
        color: #efefef;
        .convo-subject{
            padding: 3px 0;
            width: 80%;
            float: left;
            border-right: solid 1px #efefef;
        }
        .convo-recipient{
            padding: 3px 0;
            width: 20%;
            float: left;
        }
    }
    .conversation-div{
        margin-top: 10px;
        .convo-div{
            width: 90%;
            float: left;
            border-bottom: solid 2px #555;
            .convo-info{
                width: 80%;
                float: left;
                a{
                    text-decoration: none;
                    .convo-subject{
                        background-color: #1c75bf;
                        color: #efefef;
                        font-size: 16px;
                        padding: 5px 3px;
                        .fa{ color: #d83434; }
                    }
                    .convo-subject:hover{ background-color: #058eae; }
                }
                .last-msg{
                    font-size: 11px;
                    padding: 5px 2px;
                }
                
            }
            .convo-with{
                width: 20%;
                float: left;
                color: #efefef;
                .recipient{
                    font-size: 13px;
                    padding: 7px 5px;
                    background-color: #253341;
                    text-align: center;
                }
                .convo-time{
                    font-size: 10px;
                    padding: 6px 2px;
                    color: #555;
                    text-align: center;
                }
            }
        }
        .convo-del{
            width: 10%;
            float: left;
            text-align: center;
            padding-top: 27px;
            .fa { color: #555; }
            .fa:hover { color: #d83434; }
        }
    }
        
}

/* ----------------------------------------------- */
/* CONVERSATION SHOW PAGE  */
/* ----------------------------------------------- */


.messages-form{
    margin-bottom: 10px;
    .message-content{
        padding: 0;
        .message-field{
           margin-bottom: 10px;
        }
    }
}

.message-list{
    margin-top: 10px;
    .message-div{
        border-bottom: 2px solid #555;
        margin-bottom: 5px;
        .msg-info{
            padding: 1%;
            color: #efefef;
            font-size: 12px;
            background-color: #1c75bf;
            a{ 
                color: #efefef;
                text-decoration: none;
            }
            a:hover{ color: #253341; }
        }
        .msg-body{ padding: 1%; }
    }
}

/* ----------------------------------------------- */
/* USER PROFILE PAGE */
/* ----------------------------------------------- */

.user-prof-header{
    padding: 1%;
    background-color: #253341;
    color: #efefef;
    border-radius: 10px;
    text-align: center;
}


.empty-div{
    height: 150px;
}

/* ----------------------------------------------- */
/* DASHBOARD PAGE  */
/* ----------------------------------------------- */

.dash-header{
    padding: 1%;
    background-color: #253341;
    color: #efefef;
    border-radius: 10px;
    text-align: center;
}


.create-league{
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(create.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(create.jpg);
    background-position: center;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    color: #efefef;
    text-align: center;
    font-size: 20px;
    padding: 20px 15px 10px 15px;
}

.find-league{
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(find.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(find.jpg);
    background-position: center;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    color: #efefef;
    text-align: center;
    font-size: 20px;
    padding: 20px 15px 10px 15px;
}

.dash-plan{
    margin-top: 20px;
    border: 2px solid #253341;
    height: 145px;
    max-height: 145px;
    border-radius: 0 0 10px 10px;
    h3{
        margin-top: 0;
        padding: 1%;
        background-color: #1c75bf;
        color: #efefef;
        text-align: center;
    }
    .plan-type{
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        .plan-span{
            padding: 10px;
            font-size: 18px;
            background-color: #253341;
            color: #efefef;
            border-radius: 10px;
        }
    }
    .plan-upgrade{
        margin-bottom: 10px;
        text-align: center;
    }
}

.dash-share{
    margin-top: 20px;
    border: 2px solid #253341;
    height: 145px;
    max-height: 145px;
    border-radius: 0 0 10px 10px;
    h3{
        margin-top: 0;
        padding: 1%;
        background-color: #1c75bf;
        color: #efefef;
        text-align: center;
    }
    .share-icons{
        text-align: center;
        a{
            text-decoration: none;
            font-size: 40px;
            .twit-share, .fb-share, .gplus-share{ color: #555; }
            .twit-share:hover{ color: #1da1f2; }
            .fb-share:hover{ color: #3b5998;}
            .gplus-share:hover{ color: #d44235; }
        }
    }
    
}



/* ----------------------------------------------- */
/* SEARCH PAGE  */
/* ----------------------------------------------- */

.search-bar{
    .search-field{
        padding: 1%;
    }
    .search-submit{
        padding: 1%;
    }
}

.search-display{
    margin-top: 10px;
    .search-div{
        border-bottom: 1px solid #555;
        margin-bottom: 10px;
        .league-link{
            background-color: #1c75bf;
            color: #efefef;
            font-size: 18px;
            .league-name{ padding: 1%; }
            .league-private{ padding: 1%; }
        }
        .league-link:hover { background-color: #058eae; }
        .league-pic{ 
            padding-left: 0; 
            padding-right: 0;
            .thumbnail{ margin-bottom: 0; }
        }
        .league-info{ 
            font-size: 13px;
            font-weight: 500; 
            .no-pad{ padding-left: 0; }
        }
    }
}


/* ----------------------------------------------- */
/* STRIPE SHOW PAGE  */
/* ----------------------------------------------- */
.unsub-settings{
    .current-plan{
        border: 2px solid #253341;
        height: 140px;
        max-height: 140px;
        border-radius: 0 0 10px 10px;
        h3{
            margin-top: 0;
            padding: 1%;
            background-color: #1c75bf;
            color: #efefef;
            text-align: center;
        }
        .plan-type{
            margin-top: 40px;
            margin-bottom: 40px;
            text-align: center;
            .plan-span{
                padding: 10px;
                font-size: 18px;
                background-color: #253341;
                color: #efefef;
                border-radius: 10px;
            }
        }
    }
    
    .upgrade-plan{
        border: 2px solid #253341;
        height: 140px;
        max-height: 140px;
        border-radius: 0 0 10px 10px;
        h4{
            padding: 1%;
            text-align: center;
        }
        .new-plan{
            margin-top: 20px;
            text-align: center;
        }
    }
}

.payment-history{
    text-align: center;
    background-color: #1c75bf;
    border-radius: 10px;
    padding: 1%;
    color: #efefef;
}

.charge-list{
    margin-top: 20px;
    .charge-div{
        margin-bottom: 10px;
        color: #efefef;
        font-size: 15px;
        .charge-success{
            background-color: #9ebf6d;
            padding: 1%;
        }
        .charge-failed{
            
        }
    }
}

/* ----------------------------------------------- */
/* STRIPE NEW PAGE  */
/* ----------------------------------------------- */
// applies to both new and edit pages
#has-javascript{
    display: none;
}

/* ----------------------------------------------- */
/* STRIPE EDIT PAGE  */
/* ----------------------------------------------- */