/* ----------------------------------------------- */
/* This css files deals with everything to do with that isn't tied to a scoreboard  */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* CUSTOM HOVER SIDEBAR AND HEADER  */
/* ----------------------------------------------- */
.custom-top > li > a:hover {  color: #1c75bf; }


.custom-side > li > a:hover {  background-color: #428bca;}

/* ----------------------------------------------- */
/* PRELOGIN HOME PAGE  */
/* ----------------------------------------------- */

/******* CUSTOM CLASSES *******/
.home-row{
    max-width: 1140;
    margin: 0 auto;
}


.home-img{
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(home-page.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(home-page.jpg);
    background-position: center;
    height: 100vh;
    margin-top: -50px;
    padding-top: 50px;
    background-attachment: fixed;
}

.home-header{
    margin-top: 50px;
    font-size: 25px;
    color: #efefef;
    .sub-content{
        text-align: center;
        a { color: #efefef;}
        a:hover { 
            color: #555; 
            cursor: pointer;
        }
    }
}

.how-it-works{
    background-color: #fff;
    .work-head{
        text-align: center;
    }
    .work-head:after {
        display: block;
        height: 2px;
        background-color: #4878AB;
        content: " ";
        width: 100px;
        margin: 20px auto;
    }
    
    .how-text{
        font-size: 20px;
        text-align: justify;
        line-height: 145%;
    }
}

.features{
    .feature-head{
        text-align: center;
    }
    .feature-head:after {
        display: block;
        height: 2px;
        background-color: #4878AB;
        content: " ";
        width: 100px;
        margin: 20px auto;
    }
    .feature-column{
        margin-bottom: 20px;
        text-align: center;
        i {
            font-size: 49px;
            display: block;
            color: #4878AB;
            margin-bottom: 10px;
        }
        h3{ font-size: 25px; }
        p{
            font-size: 18px;
            line-height: 145%;
            text-align: justify;
        }
    }
}



/* ----------------------------------------------- */
/* NEW CONVERSATION PAGE  */
/* ----------------------------------------------- */
.new-conversation-header{
    padding-bottom: 1%;
    border-bottom: solid 1px #555;
}

.conversation-form{
    .message-field{
        height: 100px;
        max-width: 100%;
        max-height: 100px;
    }
}

/* ----------------------------------------------- */
/* CONVERSATION INDEX PAGE  */
/* ----------------------------------------------- */

.conversation-index-header{
    padding-bottom: 1%;
    border-bottom: solid 1px #555;
}



.conversation-list{
    margin-top: 10px;
    .conversation-div{
        margin-top: 10px;
        .convo-div{
            width: 90%;
            float: left;
            border-bottom: solid 2px #555;
            .convo-info{
                width: 80%;
                float: left;
                a{
                    text-decoration: none;
                    .convo-subject{
                        background-color: #1c75bf;
                        color: #efefef;
                        font-size: 16px;
                        padding: 5px 3px;
                        .fa{ color: #d83434; }
                    }
                    .convo-subject:hover{ background-color: #058eae; }
                }
                .last-msg{
                    font-size: 11px;
                    padding: 5px 2px;
                }
                
            }
            .convo-with{
                width: 20%;
                float: left;
                color: #efefef;
                .recipient{
                    font-size: 13px;
                    padding: 7px 5px;
                    background-color: #253341;
                    text-align: center;
                }
                .convo-time{
                    font-size: 10px;
                    padding: 6px 2px;
                    color: #555;
                    text-align: center;
                }
            }
        }
        .convo-del{
            width: 10%;
            float: left;
            text-align: center;
            padding-top: 27px;
            .fa { color: #555; }
            .fa:hover { color: #d83434; }
        }
    }
        
}

/* ----------------------------------------------- */
/* CONVERSATION SHOW PAGE  */
/* ----------------------------------------------- */

.conversation-show-header{
    padding-bottom: 1%;
    border-bottom: solid 1px #555;
    a{ text-decoration: none; }
}

.messages-form{
    margin-bottom: 10px;
    .message-content{
        padding: 0;
        .message-field{
           margin-bottom: 10px;
        }
    }
}

.message-list{
    margin-top: 10px;
    .message-div{
        border-bottom: 2px solid #555;
        margin-bottom: 5px;
        .msg-info{
            padding: 1%;
            color: #efefef;
            font-size: 12px;
            background-color: #1c75bf;
            a{ 
                color: #efefef;
                text-decoration: none;
            }
            a:hover{ color: #253341; }
        }
        .msg-body{ padding: 1%; }
    }
}

/* ----------------------------------------------- */
/* USER PROFILE PAGE */
/* ----------------------------------------------- */

.user-prof-header{
    padding: 1%;
    background-color: #253341;
    color: #efefef;
    border-radius: 10px;
    text-align: center;
}


.empty-div{
    height: 150px;
}

/* ----------------------------------------------- */
/* DASHBOARD PAGE  */
/* ----------------------------------------------- */

.dash-header{
    padding: 1%;
    background-color: #253341;
    color: #efefef;
    border-radius: 10px;
    text-align: center;
}

.dash-options{
    padding: 0;
    .dash-plan{
        .plan-label{
            padding: 1%;
            background-color: #253341;
            color: #efefef;
            font-size: 25px;
            text-align: center;
        }
        .plan-type{
            padding: 10px 1%;
            background-color: #1c75bf;
            color: #efefef;
            font-size: 20px;
            text-align: center;
        }
        .btn{
            border-radius: 0;
        }
    }
    .dash-create{
        margin-top: 10px;
        a{
            text-decoration: none;
            color: #efefef;
            .create-link{
                padding:  20px 1%;
                background-color: #058eae;
                font-size: 25px;
                text-align: center;
                border-radius: 10px;
            }
            .create-link:hover{
                background-color: #216273;
            }
        }
    }
}

.dash-info{
    padding-right: 0;
    .dash-generic-1, .dash-generic-2{
        padding: 1%;
        background-color: #253341;
        color: #efefef;
        font-size: 20px;
        text-align: center;
        border-radius: 10px;
        .generic-link{
            margin-top: 5px;
        }
    }
    .dash-generic-2{
        margin-top: 10px;
    }
}

/* ----------------------------------------------- */
/* SEARCH PAGE  */
/* ----------------------------------------------- */

.search-bar{
    .search-field{
        padding: 1%;
    }
    .search-submit{
        padding: 1%;
    }
}

.search-display{
    margin-top: 10px;
    .search-div{
        border-bottom: 1px solid #555;
        margin-bottom: 10px;
        .league-link{
            background-color: #1c75bf;
            color: #efefef;
            font-size: 18px;
            .league-name{ padding: 1%; }
            .league-private{ padding: 1%; }
        }
        .league-link:hover { background-color: #058eae; }
        .league-pic{ 
            padding-left: 0; 
            padding-right: 0;
            .thumbnail{ margin-bottom: 0; }
        }
        .league-info{ 
            font-weight: 500; 
            .no-pad{ padding-left: 0; }
        }
    }
}