/* ----------------------------------------------- */
/* PRELOGIN HOME PAGE  */
/* ----------------------------------------------- */

/******* CUSTOM CLASSES *******/
.home-row{
    max-width: 1140;
    margin: 0 auto;
}


.home-img{
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(home-page.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(home-page.jpg);
    background-position: center;
    height: 100vh;
    margin-top: -50px;
    padding-top: 50px;
    background-attachment: fixed;
}

.home-header{
    margin-top: 50px;
    font-size: 25px;
    color: #efefef;
    .sub-content{
        text-align: center;
        a { color: #efefef;}
        a:hover { 
            color: #555; 
            cursor: pointer;
        }
    }
}

.features{
    .feature-head{
        text-align: center;
    }
    .feature-head:after {
        display: block;
        height: 2px;
        background-color: #4878AB;
        content: " ";
        width: 100px;
        margin: 20px auto;
    }
    .feature-column{
        margin-bottom: 20px;
        text-align: center;
        i {
            font-size: 49px;
            display: block;
            color: #4878AB;
            margin-bottom: 10px;
        }
        h3{ font-size: 25px; }
        p{
            font-size: 18px;
            line-height: 145%;
            text-align: justify;
        }
    }
}
