/* ----------------------------------------------- */
/* TEAMS/STANDINGS  */
/* ----------------------------------------------- */

.team-header{
    padding-bottom: 1%;
    border-bottom: solid 1px #555;
}

.clear-teams-btn{
    margin-left: 40px;
}

// The labels for the standings chart
.standing-labels{
    color: #efefef;
    margin: 20px 0 1% 0;
    font-size: 120%;
    font-weight: 300;
    .standing-1{
        background-color: #253341;
        padding: 1%;
        border: solid 2px;
    }
    .standing-2{
        background-color: #253341;
        padding: 1%;
        border: solid 2px;
        border-left: 0;
    }
}

// the individual team divs 
.team-div{
    margin-bottom: 1%;
    font-weight: 500;
    :nth-child(n+2){
        text-align: center;
    }
    .team-div-1{
        padding: 1%;
        border: solid 2px;
    }
    .team-div-1:hover{
        background-color: #058eae;
    }
    .team-div-2{
        padding: 1%;
        border: solid 2px;
        border-left: 0;
    }
    .team-setting{
        padding: 1%;
        a:hover{
            text-decoration: none;
            color: #f90012;
        }
    }
    .col-xs-6{
        padding-right: 0;
        padding-left: 0;
        height: 100%;
        .row .col-xs-4{
            padding: 2% 1%;
        }
    }
    // this option is only available to admin/owner
    a{
        color: inherit;
        .team-data:hover{
            background-color: #058eae;
        }
    }
}

// THIS DISABLES THE DIVS IF THEY HAVE THE CLASS!
.team-disable{
     pointer-events: none;
     opacity: 0.4;
}

// The new team entry form
.new-team-form{
    margin-top: 1%;
    display: none;
    
    .new-team-1, .new-team-2{
        padding: 0;
        input{
            text-align: center;
        }
    }
    
    .new-team-3{
        padding: 0 1%;
        
        .btn {
            padding: 12% 8%;
             font-size: 80%;
             width: 100%;
             }
    
    }
    
    
    .new-team-4{
        text-align: center;
        padding-top: 0.5%;
        .fa{
            font-size: 170%;
            color: #F90012;
        }
        .fa:hover{
            color: #d83434;
        }
    }
}

// the team edit form
.team-edit-form{
     margin-bottom: 1%;
    
    .edit-team-1{
        font-weight: 500;
        padding: 1%;
        border: solid 2px;
    }
    .edit-team-2{
        padding: 0;
        height: 100%;
        input{
            padding: 8%;
            text-align: center;
            height: 100%;
        }
    }
    .edit-team-3{
        .btn{
            padding: 7%;
        }
    }
}

/* ----------------------------------------------- */
/* TEAM SHOW PAGE  */
/* ----------------------------------------------- */

.team-show-header{
    padding-bottom: 1%;
    border-bottom: solid 1px #555;
}

.assign-captain-btn{
    margin-left: 40px;
}

// The div for team value headings
.show-standing-labels{
    color: #efefef;
    margin-top: 20px;
    font-size: 130%;
    font-weight: 300;
    text-align: center;
    .show-standing-1{
        background-color: #253341;
        padding: 1%;
        border: solid 2px #253341;
        border-right: solid 2px #efefef;
        
    }
    .show-standing-2{
        background-color: #253341;
        padding: 1%;
        border: solid 2px #253341;
        border-right: solid 2px #efefef;
    }
    :last-child{
        border-right: solid 2px #253341;
    }
}

// the div for team values
.show-standing-values{
    color: #555;
    font-size: 130%;
    font-weight: 300;
    text-align: center;
    .standing-value-1{
        padding: 2% 1%;
        border: solid 2px;
        border-top: 0;
    }
    .standing-value-2{
        padding: 2% 1%;
        border: solid 2px;
        border-left: 0;
        border-top: 0;
    }
    
}

// the header row which includes the button
.team-members-header{
    margin-top: 20px;
    
    .team-member-label{
    color: #efefef;
    background-color: #253341;
    text-align: center;
    padding: 1%;
    font-size: 120%;
    }
    .add-team-member-btn{
        .btn{
        margin-top: 8%;
        }
        
        .dropdown-menu{
            background-color: #058eae;
           li a{
                color: #fff;
            }
        }
    } 

}

// the list of team members
.team-member-list{
    margin-top: 20px;
    font-size: 140%;
    text-align: center;
    min-height: 100px;
    
    .team-member-div{
        margin-bottom: 1%;
        
        .team-member-name{
            border-bottom: solid 2px #555;
            text-align: left;
            font-size: 100%;
            a{
                color: #555;
                font-weight: 700;
            }
        }
        .team-member-message{
            border-bottom: solid 2px #555;
        }
        .remove-team-member{
            border-bottom: solid 2px #555;
            .fa{
                color: #F90012;
            }
            .fa:hover{
                color: #d83434;
            }
        }
    }
}



/* ----------------------------------------------- */
/* NEW TEAM MEMBERS ADD PAGE   */
/* ----------------------------------------------- */

.new-team-member-header{
    padding-bottom: 1%;
    border-bottom: solid 1px #555;
}

.new-member-field{
    margin-top: 10px;
    
    input{
        width: 100%;
    }
}

.new-member-org-head{
    margin-top: 20px;
    
    .org-list-header{
    color: #efefef;
    background-color: #253341;
    text-align: center;
    padding: 1%;
    font-size: 120%;
    }
}

.new-member-org-list{
    margin-top: 10px;
    
    .member-follower-div{
        margin-bottom: 10px;
        font-size: 140%;
        text-align: center;
        
        .member-prof-link{
            border-bottom: solid 2px #555;
            text-align: left;
            font-size: 100%;
            a{
                color: #555;
                font-weight: 700;
            }
        }
        .member-add{
            border-bottom: solid 2px #555;
            .fa{
                color: #058eae;
            }
            .fa:hover{
                color: #216273;
            }
        }
    }
}

.new-member-pages{
   div .pagination{
        margin: 0;
    }
    ul{
       li a{
            background-color: #253341;
            color: #efefef;
        }
        .disabled a{
            background-color: #253341;
            color: #efefef;
        }
    }
}

// captain modal
#captain-modal .member-div{
     padding: 1%;
     border-bottom: solid 2px #555;
    .member-prof-link{
        text-align: left;
        font-size: 100%;
        a{
            color: #555;
            font-weight: 700;
        }
    }
    
    .cap-assign{
        text-align: right;
            .btn{
                font-size: 70%;
                color: #efefef;
             }
        } 
}