/* Scoreboard new form */

.score-form{
    position: relative;
    width: 359px;
    left: 390px;
}

.score-header-form{
    position: relative;
    width: 359px;
    font-size: 20px;
    font-weight: bold;
    left: 386px;
}

/* MY scoreboard page index page */
.my-score-contain{
    position: relative;
    width: 1170px;
    height: 580px;
   
}
.my-score-help-tip{
    position: relative;
    width: 210px;
    height: 277px;
    border-style: solid;
    border-width: 2px;
    border-color: #C0C0C0;
    border-radius: 5px;
    padding: 10px;
}

.my-score-display{
    position: relative;
    width: 902px;
    height: 576px;
    left: 238px;
    bottom: 277px;
   
}

.the-display{
    position: relative;
    width: 874px;
    max-height: 520px;
    top: 20px;
    overflow-y: auto;
    padding: 10px;
}

.inner-disp{
    width: 849px;
    height: 106px;
    border-style: solid;
    border-width: 2px;
    border-color: #C0C0C0;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 5px;
    p{
        font-size: 12px;
    }
    .my-view{
        position: relative;
        height: 24px;
        width: 61px;
        bottom: 92px;
        left: 771px;
        font-size: 11px;
    }
    .my-edit{
        position: relative;
        height: 24px;
        width: 61px;
        font-size: 11px;
        left: 707px;
        bottom: 67px;
    }
    .my-del{
        position: relative;
        height: 24px;
        width: 61px;
        font-size: 11px;
        left: 642px;
        bottom: 42px;
    }
}
.button-follow{
    position: relative;
    left: 20px;
}

/* the scoreboard show page */

.score-show-contain{
    position: relative;
}

.div-show-left{
    position: relative;
    width: 232px;
    height: 599px;
    .prof-update{
        position: relative;
        top: 40px;
    }
}



.back-my-score{
    position: relative;
    width: 232px;
    height: 50px;
    padding: 10px;
    font-size: 17px;
}



.member-list{
    position: relative;
    width: 232px;
    min-height: 270px;
    max-height: 270px;
    top: 20px;
    padding: 20px;
    overflow: auto;
    border-radius: 5px;
}

.show-filler-div{
    position: relative;
    width: 232px;
    min-height: 110px;
    top: 28px;
    border-style: solid;
    border-width: 2px;
    border-color: #C0C0C0;
    border-radius: 5px;
    /* the following code is for the score option menu */
    .score-app-options{
        position: relative;
        .score-options-menu{
            list-style-type: none;
            li{
                width: 100%;
            }
            li.score-options-div{
                 padding: 5px;
                 height: 35px;
                 text-align: center;
                 background-color: #009AAB;
            }
            li.finish-adding-team-button{
                display: none;
            }
            li.finish-edit-team-button{
                display: none;
            }
        }
    }
    /* the following code is for the schedule options menu */
    .schedule-app-options{
        position: relative;
        display: none;
        .schedule-options-menu{
            list-style-type: none;
            li{
                width: 100%;
            }
            li.schedule-options-div{
                padding: 5px;
                height: 35px;
                text-align: center;
                background-color: #009AAB;
            }
            li.finish-edit-schedule-button{
                display: none;
            }
        }
    }
}

.score-title{
    position: relative;
    width: 874px;
    height: 50px;
    bottom: 620px;
    left: 249px;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #C0C0C0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.prof-bio{
    position: relative;
    width: 874px;
    height: 177px;
    bottom: 622px;
    left: 249px;
}

.score-prof{
    position: relative;
    width: 195px;
    height: 175px;
    border-radius: 5px;
}

.s-labels{
    position: relative;
    width: 127px;
    height: 176px;
    left: 213px;
    bottom: 186px;
    h4{
        font-size: 15px;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        margin-bottom: 15px;
    }
}

.bios-labels{
    position: relative;
    height: 176px;
    width: 507px;
    left: 343px;
    bottom: 372px;
    h4{
        font-size: 15px;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        margin-bottom: 15px;
    }
}

.un-follow{
    position: relative;
    height: 28px;
    width: 128px;
    left: 996px;
    bottom: 800px;
    font-size: 12px;
}

.invite-btn{
    position: relative;
    height: 28px;
    width: 128px;
    bottom: 758px;
    left: 860px;
    font-size: 12px;
   
}

.statuscontent{
    position: relative;
    border-style: solid;
    border-width: 2px;
    border-color: #C0C0C0;
    width: 875px;
    height: 50px;
    bottom: 640px;
    left: 248px;
    right: 70px;
    
}

#admin {
    position: absolute;
    left: 33px;
    right: 63px;
    height: 42px;
    bottom: 87px;
    
}


#favouritedby {
    position: relative;
    left: -20px;
    top: 50px;
}

#followinglist{
    left: 50px;
}

/*My scoreboard show page the app css*/
.score-app{
    position: relative;
    width: 874px;
    min-height: 110px;
    padding: 10px;
    border-radius: 3px;
    bottom: 636px;
    left: 248px;
    margin-bottom: -609px;
    border-style: solid;
    border-width: 2px;
    border-color: #C0C0C0;
    overflow: auto;
    
    .score-app-button{
        position: relative;
        width: 122px;
    }
    
    .schedule-app-button{
        position: relative;
        width: 122px;
    }
    
    
    .app-score-div{
        position: relative;
        width: 840px;
        .app-header{
         position: relative;
         top: 10px;
         
        .boxing{
            width: 30%;
            height: 30px;
            float: left;
            border: 2px solid #C0C0C0;
            box-sizing: border-box;
            margin-bottom: 10px;
        }
        
        .boxing2{
            width: 15%;
            height: 30px;
            float: left;
            border: 2px solid #C0C0C0;
            box-sizing: border-box;
            text-align: center;
            margin-bottom: 10px;
        }
        }
        
        .team-list{
          position: relative;
        .boxin1{
            width: 30%;
            height: 30px;
            float: left;
            border: 2px solid #C0C0C0;
            box-sizing: border-box;
            margin-top: 5px;
        }
        .boxin2{
            width: 15%;
            height: 30px;
            float: left;
            border: 2px solid #C0C0C0;
            box-sizing: border-box;
            text-align: center;
            margin-top: 5px;
        }
        .boxin3{
            width: 5%;
            height: 30px;
            float: left;
            box-sizing: border-box;
            text-align: center;
            margin-top: 5px;
            display: none;
        }
        }
        
        
        /* the form code for the teams  */
          .form-1{
            width: 30%;
            height: 30px;
            float: left;
            border: 2px solid #3071A9;
            box-sizing: border-box;
            margin-top: 5px;
           }
        
           .form-2{
            width: 15%;
            height: 30px;
            float: left;
            border: 2px solid #3071A9;
            box-sizing: border-box;
            text-align: center;
            margin-top: 5px;
           }

          .form-3{
            width: 15%;
            height: 30px;
            float: left;
            box-sizing: border-box;
            text-align: center;
            margin-top: 5px;
           }

          .new-team-form{
            display: none;
           }
    }
    /* the following code is for the modal to submit schedules */ 
    
    
    /* the following code is for the schedules */
    
    .app-schedule-div{
        position: relative;
        width: 840px;
        display: none;
        
        .schedule-list{
            position: relative;
        .sched-box-1{
            width: 90%;
            height: 60px;
            float: left;
            margin-top: 10px;
            .sched-team1{
            width: 45%;
            height: 30px;
            float: left;
            border: 2px solid #C0C0C0;
            box-sizing: border-box;
            }
            .sched-vs{
            width: 10%;
            height: 30px;
            float: left;
            text-align: center;
            }
            .sched-team2{
            width: 45%;
            height: 30px;
            float: left;
            border: 2px solid #C0C0C0;
            box-sizing: border-box;
            }
            .sched-date-label{
            width: 15%;
            height: 30px;
            float: left;
            border: 2px solid #C0C0C0;
            box-sizing: border-box;
            }
            .sched-date{
            width: 20%;
            height: 30px;
            float: left;
            border: 2px solid #C0C0C0;
            box-sizing: border-box;
            }
            .sched-time-label{
            width: 10%;
            height: 30px;
            float: left;
            border: 2px solid #C0C0C0;
            box-sizing: border-box;
            }
            .sched-time{
            width: 10%;
            height: 30px;
            float: left;
            border: 2px solid #C0C0C0;
            box-sizing: border-box;
            }
            .sched-details-label{
            width: 10%;
            height: 30px;
            float: left;
            border: 2px solid #C0C0C0;
            box-sizing: border-box;
            }
            .sched-details{
            width: 35%;
            height: 30px;
            float: left;
            border: 2px solid #C0C0C0;
            box-sizing: border-box;
            }
        }
        .sched-buttons{
            width: 10%;
            height: 60px;
            float: left;
            margin-top: 10px;
            display: none;
            .sched-edit{
                width: 100%;
            }
            .sched-delete{
                width: 100%;
            }
        }
        }
    }
    
}

/* the following code is for the schedule form modal */

.schedule-save-message{
    display: none;
    color: blue;
}

/* scoreboard picture on show page */

#pictureframe{
    width: 203px;
    height: 174px;
    border: 2.0px solid blue;
    position: absolute;
    float: top;
    margin-top: -175px;
    #pictureframetext{
        text-align: center;
        margin-top: 60px;
        position: relative;
    }
}    


#pictureframe:hover {
    width: 203px;
    height: 174px;
    border: 5px solid blue;
    position: absolute;
    float: top;
    margin-top: -175px;
    cursor: pointer;
    border: 5px solid blue;
    position: absolute;
}


#picturetext{
    text-align: center;
}

#pictureplacement{
    width: 203px;
    height: 174px;
    position: absolute;
    float: top;
    margin-top: -176px;
    border-radius: 25px;
}

#pictureplacement:hover{
    width: 203px;
    height: 174px;
    position: absolute;
    float: top;
    margin-top: -176px;
    cursor: pointer;
    border-radius: 25px;
    
}





/* the comments section */
.comment-section{
    position: relative;
    top: 20px;
    width: 874px;
    min-height: 545px;
    left: 248px;
    bottom: 46px;
    padding: 10px;
    overflow: auto;
    border: 2px solid #C0C0C0;
    
    .comment-field{
        position: relative;
        border: 2px solid #3071A9;
    }
    
    .comment-div{
        position: relative;
        width: 849px;
        min-height: 120px;
        padding: 10px;
        border: 2px solid #C0C0C0;
        margin: 5px;
        
        .comment-body{
            margin: 5px;
            position: relative;
            width: 816px;
            height: 72px;
            background-color: #C0C0C0;
        }
    }

}

.hidden-reply-form{
    display: none;
}

.nested_messages {
  margin-left: 30px;
}

.purr{
    position: fixed;
    top: 276px;
    right: 80px;
    width: 360px;
    font-weight: bold;
    color: #C66;
    text-transform: capitalize;
    &:first-letter {text-transform: uppercase;}
    
}

#search {
    width: 200px;
}

#searchbutton {
    width: 70px;
    left: 50px;
}

// code for the index page

.showfollow {
    display: none;
}

#canadian_provinces {
    display: none;
}

#american_states {
    display: none;
}

#other_states {
    display: none;
}