/* ----------------------------------------------- */
/* SCOREBOARD INDEX PAGE  */
/* ----------------------------------------------- */

.pages-label{
    padding: 1%;
    background-color: #253341;
    color: #efefef;
    border-radius: 10px;
}

.owned-list{
   margin-bottom: 15px;
    .owned-div{
        margin-bottom: 10px;
        .owned-content{
            padding: 0;
            border: 1px solid #555;
            font-size: 13px;
           a{
            color: #efefef;
            text-decoration: none;
                .score-name{
                      background-color: #1c75bf;
                      padding: 1%;
                      font-size: 16px;
                }
                .score-name:hover{ background-color: #058eae; }
            }
            .score-org { 
                padding-left: 1%;
                font-weight: 400;
            }
            .score-activity { 
                padding-left: 1%; 
                font-weight: 400;
            }
            .score-location {
                padding-left: 1%;
                font-weight: 400;
            }
        }
        .owned-options{
            padding: 0;
            font-size: 20px;
            .owned-edit{
                text-align: center;
                padding: 1%;
                a{
                    text-decoration: none;
                    color: #555;
                }
                a:hover{ color: #216273; }
            }
            .owned-del{
                text-align: center;
                padding: 1%;
                a{
                    text-decoration: none;
                    color: #555;
                }
                a:hover{ color: #d83434; }
            }
        }
    }
}

.followed-list{
    margin-top: 10px;
     .followed-div{
        margin-bottom: 10px;
        .followed-content{
            padding: 0;
            border: 1px solid #555;
            font-size: 13px;
           a{
            color: #efefef;
            text-decoration: none;
                .score-name{
                      background-color: #1c75bf;
                      padding: 1%;
                      font-size: 16px;
                }
                .score-name:hover { background-color: #058eae; }
            }
            .score-org { 
                padding-left: 1%;
                font-weight: 400;
            }
            .score-activity { 
                padding-left: 1%; 
                font-weight: 400;
            }
            .score-location{
                padding-left: 1%;
                font-weight: 400;
            }
        }
     }
}


/* ----------------------------------------------- */
/* TEAMS/STANDINGS  */
/* ----------------------------------------------- */

// The labels for the standings chart
.standing-labels{
    color: #efefef;
    margin: 20px 0 1% 0;
    font-size: 120%;
    font-weight: 300;
    .standing-1{
        background-color: #253341;
        padding: 1%;
        border: solid 2px;
    }
    .standing-2{
        background-color: #253341;
        padding: 1%;
        border: solid 2px;
        border-left: 0;
    }
}

// the individual team divs 
.team-div{
    margin-bottom: 1%;
    font-weight: 500;
    :nth-child(n+2){
        text-align: center;
    }
    .team-div-1{
        padding: 1%;
        border: solid 2px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .team-div-1:hover{
        background-color: #058eae;
    }
    .team-div-2{
        padding: 1%;
        border: solid 2px;
        border-left: 0;
    }
    .team-setting{
        padding: 1%;
        a:hover{
            text-decoration: none;
            color: #f90012;
        }
    }
    .col-xs-6{
        padding-right: 0;
        padding-left: 0;
        height: 100%;
        .row .col-xs-4{
            padding: 2% 1%;
        }
    }
    // this option is only available to admin/owner
    a{
        color: inherit;
        .team-data:hover{
            background-color: #058eae;
        }
    }
}

// THIS DISABLES THE DIVS IF THEY HAVE THE CLASS!
.team-disable{
     pointer-events: none;
     opacity: 0.4;
}

// The new team entry form
.new-team-form{
    margin-top: 1%;
    display: none;
    
    .new-team-1, .new-team-2{
        padding: 0;
        input{
            text-align: center;
        }
    }
    
    .new-team-3{
        padding: 0 1%;
        padding-top: 2px;
        
        .btn {
             font-size: 80%;
             width: 100%;
             }
        .fa{ display: none; }
    
    }
    
    
    .new-team-4{
        text-align: center;
        padding-top: 0.5%;
        .fa{
            font-size: 170%;
            color: #F90012;
        }
        .fa:hover{
            color: #d83434;
        }
    }
}

// the team edit form
.team-edit-form{
     margin-bottom: 1%;
    
    .edit-team-1{
        font-weight: 500;
        padding: 1%;
        border: solid 2px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .edit-team-2{
        padding: 0;
        height: 100%;
        input{
            padding: 8%;
            text-align: center;
            height: 100%;
        }
    }
    .edit-team-3{
        .btn{
            padding: 7%;
        }
    }
}

/* ----------------------------------------------- */
/* TEAM SHOW PAGE  */
/* ----------------------------------------------- */

.team-show-header{
    padding-bottom: 1%;
    border-bottom: solid 1px #555;
    a{ text-decoration: none; }
    .fa-edit{
        color: #058eae;
    }
    .fa-edit:hover{
        color: #216273;
    }
}

.assign-captain-btn{
    margin-left: 40px;
}

// The div for team value headings
.show-standing-labels{
    color: #efefef;
    margin-top: 20px;
    font-size: 130%;
    font-weight: 300;
    text-align: center;
    .show-standing-1{
        background-color: #253341;
        padding: 1%;
        border: solid 2px #253341;
        border-right: solid 2px #efefef;
        
    }
    .show-standing-2{
        background-color: #253341;
        padding: 1%;
        border: solid 2px #253341;
        border-right: solid 2px #efefef;
    }
    :last-child{
        border-right: solid 2px #253341;
    }
}

// the div for team values
.show-standing-values{
    color: #555;
    font-size: 130%;
    font-weight: 300;
    text-align: center;
    .standing-value-1{
        padding: 2% 1%;
        border: solid 2px;
        border-top: 0;
    }
    .standing-value-2{
        padding: 2% 1%;
        border: solid 2px;
        border-left: 0;
        border-top: 0;
    }
    
}

// the header row which includes the button
.team-members-header{
    margin-top: 20px;
    
    .team-member-label{
    color: #efefef;
    background-color: #253341;
    text-align: center;
    padding: 1%;
    font-size: 120%;
    }
    .add-team-member-btn{
        .btn{ margin-top: 3px; }
        
        .dropdown-menu{
            background-color: #058eae;
           li a{
                color: #fff;
            }
        }
    } 

}

// the list of team members
.team-member-list{
    margin-top: 20px;
    text-align: center;
    min-height: 100px;
    
    .team-member-div{
        margin-bottom: 1%;
        
        .team-member-name{
            border-bottom: solid 2px #555;
            text-align: left;
            font-size: 15px;
            a{
                color: #555;
                font-weight: 700;
            }
            .links{
                font-size: 18px;
                a{ text-decoration: none; }
                .member-msg{ 
                    margin-right: 10px; 
                    color: #428bca;
                }
                .member-msg:hover{ color: #2a6496;} 
                .member-del{ color: #f90012; }
                .member-del:hover{ color: #216273; }
            }
        }
    }
}



/* ----------------------------------------------- */
/* NEW TEAM MEMBERS ADD PAGE   */
/* ----------------------------------------------- */

.new-member-field{
    margin-top: 10px;
    
    input{
        width: 100%;
    }
}

.new-member-org-head{
    margin-top: 20px;
    
    .org-list-header{
    color: #efefef;
    background-color: #253341;
    text-align: center;
    padding: 1%;
    font-size: 120%;
    }
}

.new-member-org-list{
    margin-top: 10px;
    
    .member-follower-div{
        margin-bottom: 10px;
        text-align: center;
        
        .member-prof-link{
            border-bottom: solid 2px #555;
            text-align: left;
            font-size: 100%;
            a{
                color: #555;
                font-weight: 700;
            }
            .fa{ color: #058eae; }
            .fa:hover{ color: #216273; }
        }
    }
}

.new-member-pages{
   div .pagination{
        margin: 0;
    }
    ul{
       li a{
            background-color: #253341;
            color: #efefef;
        }
        .disabled a{
            background-color: #253341;
            color: #efefef;
        }
    }
}

// captain modal
#captain-modal{ 
     .member-div{
         padding: 1%;
         border-bottom: solid 2px #555;
        .member-prof-link{
            text-align: left;
            font-size: 100%;
            a{
                color: #555;
                font-weight: 700;
            }
            .btn{
                 font-size: 70%;
                 color: #efefef;
            }
        }
     }
    .modal-footer{
        .modal-close{ background-color: #d83434; }
    }
}

/* ----------------------------------------------- */
/* SCOREBOARD PROFILE PAGE   */
/* ----------------------------------------------- */
// best-place error
.purr {
  position: fixed;
  top: 40px;
  right: 100px;
  width: 250px;
  padding: 20px;
  background-color: #FCC;
  color: #555;
  border: solid 2px #C66;
  &:first-letter { text-transform: uppercase; }
}

.score-profile-header{
    border-radius: 10px;
    padding: 2%;
    background-color: #253341;
    color: #efefef;
    text-align: center;
}

.score-prof-info{
    .score-prof-pic{
        padding: 0;
         .prof-default{
             width: 170px;
             height: 170px;
             border: 3px solid #253341;
         }
         .dropdown-menu{
             li{
                  font-size: 90%;
             }
         }
    }
    
    .score-prof-bio{
        padding-left: 0;
        h5{
            margin-bottom: 3%;
        }
        :last-child{
            margin-bottom: 0;
        }
    }
    
    .score-prof-options{
        .row .col-xs-12{ padding-right: 0; }
        text-align: right;
        
        .btn-primary{
            width: 115px;
            font-size: 70%;
            margin-bottom: 2%;
        }
        .priv-toggle{
            margin-bottom: 2%;
        }
        .btn-danger{
            width: 115px;
            font-size: 70%;
        }
    }
}

.private-overlay{
    margin-top: 15px;
   .private-icon{
       text-align: center;
       font-size: 60px;
   }
}

.score-stats{
    margin-top: 2%;
    
    .share-div{
        padding-left: 0;
        h4{
            border-radius: 10px;
            padding: 5%;
            background-color: #253341;
            color: #efefef;
            text-align: center;
            margin-bottom: 10px;
            margin-top: 0;
        }
       .media-icons{
           padding: 2%;
           border: 2px solid #253341;
           border-radius: 10px;
           height: 78px;
           margin-bottom: 10px;
           text-align: center;
           a{ 
               text-decoration: none;
               color: #555;
               .fa{ 
                   font-size: 30px;
                   margin-right: 10px;
               }
               .fb-share:hover{ color: #3b5998;}
               .twit-share:hover{ color: #1da1f2;}
               .gplus-share:hover{ color: #d44235;}
           }
       }
       .btn{
           font-size: 70%;
       }
    }
    .status-div{
        h4{
            border-radius: 10px;
            padding: 2%;
            background-color: #253341;
            color: #efefef;
            text-align: center;
            margin-top: 0;
            margin-bottom: 12px;
        }
        .score-status{
            width: 100%;
            border-radius: 10px;
            height: 78px;
            padding: 2%;
            text-align: center;
            border: 2px solid #253341;
        }
        
        #admin-status:hover{
            border-color: #058eae;
            cursor: pointer;
        }
    }
}

.admin-panel{
        margin-top: 10px;
        padding-left: 0;
         h4{
            border-radius: 10px;
            padding: 2%;
            background-color: #253341;
            color: #efefef;
            text-align: center;
            margin: 0;
        }
        .admin-divs{
            padding: 1%;
          .admin{
             margin-top: 1%;
             font-size: 15px;
             .admin-name{
                  border-bottom: solid 2px #555;
                  text-align: left;
                    a{
                        color: #555;
                        font-weight: 700;
                    }
                    .fa{ 
                        font-size: 18px;
                        color: #428bca;
                    }
                    .fa:hover{ color: #2a6496; }
                    }
            }
        }
}

.follower-panel{
        margin-top: 10px;
        padding-left: 0;
        h4{
            border-radius: 10px;
            padding: 2%;
            background-color: #253341;
            color: #efefef;
            text-align: center;
            margin: 0;
            margin-bottom: 10px;
        }
        .follower-info{
            border: solid 3px #253341;
            border-radius: 10px;
            padding: 2%;
            font-size: 140%;
            text-align: center;
            .btn{
                font-size: 70%;
            }
        }
}

// request to join modal
#requestmodal{
    .requests{
        max-height: 300px;
        overflow-y: auto;
        .req-error{
            display: none;
            text-align: center;
            color: #c12e2a;
            border: solid 2px #c12e2a;
            padding: 1%;
        }
        .request-div{
            border-bottom: solid 2px #555;
            padding: 1%;
            margin-top: 1%;
            
            .req-name{
                font-size: 110%;
                text-align: left;
            }
            .btn{
                font-size: 60%;
            }
        }
    }
}

//request notice
.request-notice{
    color: #c12e2a;
}

// //privatization blur effect
// .blur{
//     pointer-events: none;
//     box-shadow: 0px 0px 20px 10px rgba(255,255,255,1);
// 	opacity: 0.7;
// 	.score-stats{
// 	    .share-div{
//     	    .media-icons a{
//     	        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
//             	color: rgba(0, 0, 0, 0);
//             	opacity: 0.5;
//     	    }
// 	    }
// 	    .status-div{
// 	        .score-status{
// 	            text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
//             	color: rgba(0, 0, 0, 0);
//             	opacity: 0.5;
// 	        }
// 	    }
// 	}
// 	.admin-panel{
//         text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
//     	color: rgba(0, 0, 0, 0);
//     	opacity: 0.5;
// 	}
// 	.follower-panel{
// 	    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
//     	color: rgba(0, 0, 0, 0);
//     	opacity: 0.5;
// 	}
// }

/* ----------------------------------------------- */
/* SCOREBOARD ADMIN OPTIONS PAGE  */
/* ----------------------------------------------- */

.admin-current-header{
    margin-top: 20px;
    color: #efefef;
    background-color: #253341;
    text-align: center;
    padding: 1%;
    font-size: 120%;
}

#admin-search-form{ margin-top: 10px; }

.admin-select-header{
    margin-top: 20px;
    color: #efefef;
    background-color: #253341;
    text-align: center;
    padding: 1%;
    font-size: 120%;
}

.admin-list{
    margin-top: 10px;
    margin-bottom: 10px;
    .admin-div{
        margin-bottom: 10px;
        font-size: 14px;
        text-align: center;
        .admin-prof-link{
             border-bottom: solid 2px #555;
             text-align: left;
              a{
                color: #555;
                font-weight: 700;
              }
        }
        .fa{ 
            font-size: 18px;
            color: #f90012; 
        }
        .fa:hover{ color: #216273; }
        }
}

.admin-org-list{
    margin-top: 10px;

    .admin-follower-div{
        margin-bottom: 10px;
        font-size: 14px;
        text-align: center;
        
        .member-prof-link{
            border-bottom: solid 2px #555;
            text-align: left;
            a{
                color: #555;
                font-weight: 700;
            }
            .admin-assign{ 
                font-size: 55%; 
                color: #fff;
            }
        }
    }
}

/* ----------------------------------------------- */
/* SCOREBOARD FOLLOWERS PAGE  */
/* ----------------------------------------------- */


#follower-search-form{ margin-top: 10px; }

.follower-org-list{
    margin-top: 10px;
    margin-bottom: 10px;
    .follower-div{
        margin-bottom: 10px;
        text-align: center;
        .follower{
            border-bottom: solid 2px #555;
            text-align: left;
            font-size: 100%;
            .follower-prof-link{
                color: #555;
                font-weight: 700;
            }
            .links{
                font-size: 18px;
                a{ text-decoration: none; }
                 .follower-msg{ margin-right: 10px; }
                .follower-del{ color: #f90012; }
                .follower-del:hover{ color: #216273; }
            }
        }
    }
}

/* ----------------------------------------------- */
/* INVITATIONS PAGE(NEW & CREATE) */
/* ----------------------------------------------- */

.invite-form{
    margin-top: 10px;
    .invite-field{ margin-bottom: 10px;}
}

.invite-error-head{
    font-size: 20px;
    margin-bottom: 10px;
}

.invite-error-msg{
    font-size: 15px;
    margin-bottom: 10px;
    color: #d83434;
}