/* ----------------------------------------------- */
/*CONTAINS CODE FOR: ITEMS NOT IN LEAGUE PAGES   */
/* ----------------------------------------------- */

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {

/**************** CONVERSATION INDEX **************/
.conversation-list{
    .conversation-div{
        .convo-div{
            .convo-info{
                a{
                    .convo-subject{ font-size: 13px;}
                }
                .last-msg{ font-size: 10px;}
            }
            .convo-with{
                .recipient { font-size: 11px; }
            }
        }
    }
}

/****************** SCOREBOARD INDEX ****************/
.owned-list .owned-div{
    .owned-content{
        font-size: 11px;
        a .score-name{
            font-size: 13px;
            padding: 10px 1%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.followed-list .followed-div{
    .followed-content{
        font-size: 11px;
        a .score-name{
            font-size: 13px;
            padding: 10px 1%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
/*************** SEARCH INDEX PAGE *************/
.search-display{
    .search-div{
        .league-link{
               font-size: 14px;
               padding: 10px 1%;
        }
        .league-info{ 
            font-size: 11px;
        }
    }
}

/*************** PRELOGIN HOME PAGE ***************/

.how-it-works{
    .how-head{ font-size: 20px; }
    .how-text{ font-size: 16px; }
}

.plans .plan-box .plan-features{
    .point{ font-size: 14px; }
}

/*************** DASHBOARD PAGE *********************/
.create-league{ 
    font-size: 16px; 
    padding-top: 30px;
}
.find-league{ 
    font-size: 16px; 
    padding-top: 30px;
}

.dash-plan{
    h3{ 
        font-size: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .plan-type{
        .plan-span{ font-size: 16px;}
    } 
}

.dash-share{
    h3{
        font-size: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .share-icons{
        a{ font-size: 30px;}
    }
}

/********************** SUBSCRIPTION SHOW PAGE ****************/
.unsub-settings{
    .current-plan{
        h3{ font-size: 18px; }
    }
    .upgrade-plan{
        h4{ font-size: 14px; }
    }
}
.sub-settings{
    .current-plan{
        h3{ font-size: 18px; }
    }
    .plan-options{
        margin-top: 10px;
    }
}
}



/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    
/******************* CONVERSATION INDEX ***************/
.conversation-list{
    .conversation-div{
        .convo-div{
            .convo-info{
                a{
                    .convo-subject{ font-size: 11px;}
                }
                .last-msg{ font-size: 8px;}
            }
            .convo-with{
                .recipient { font-size: 9px; }
                .convo-time{ font-size: 8px; }
            }
        }
    }
}
/*************** SEARCH INDEX PAGE *************/
.search-display{
    .search-div{
        .league-link{
            font-size: 14px;
            padding: 10px 1%;
            .league-name{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .league-info{ 
            font-size: 12px;
        }
    }
}

/***************** DASHBOARD PAGE ******************/

.find-league{ 
    margin-top: 20px; 
}

.dash-share{
    .share-icons{
        a{ font-size: 40px;}
    }
}

/********************** SUBSCRIPTION SHOW PAGE ****************/
.unsub-settings{
    .upgrade-plan{
        margin-top: 10px;
    }
}



}


/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {

/**************** CONVERSATION INDEX ************/    
.conversation-list{
    .convo-header{
        .convo-subject{ font-size: 15px}
        .convo-recipient{ font-size: 15px; }
    }
    .conversation-div{
        .convo-div{
            .convo-info{
                a{
                    .convo-subject{
                        font-size: 10px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                .last-msg{ font-size: 8px;}
            }
            .convo-with{
                .recipient { 
                    font-size: 8px; 
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .convo-time{ font-size: 8px; }
            }
        }
    }
}

/***************** CONVERSATION SHOW PAGE **************/
.message-list{
    .message-div{
        .msg-info{
            font-size: 10px;
            .msg-name{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .msg-body{ font-size: 10px;}
    }
}

/******************** SCOREBOARD INDEX PAGE **********/
.owned-list .owned-div{
    .owned-content{
        font-size: 9px;
        a .score-name{
            font-size: 10px;
            padding: 10px 1%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .score-org, .score-activity, .score-location{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.followed-list .followed-div{
    .followed-content{
        font-size: 9px;
        a .score-name{
            font-size: 10px;
            padding: 10px 1%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .score-org, .score-activity, .score-location{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
/*************** SEARCH INDEX PAGE *************/
.search-display{
    .search-div{
        .league-link{
            font-size: 10px;
            padding: 10px 1%;
            .league-name{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .league-info{ 
            font-size: 9px;
        }
    }
}

/****************** PRELOGIN HOME PAGE ***************/

.home-header{
    h2{ font-size: 20px;}
    p{ font-size: 12px; }
}

.how-it-works{
    .work-head{ font-size: 20px;}
    .how-head{ font-size: 16px;}
    .how-text{ 
        font-size: 12px;
        line-height: 175%;
    }
}

.features{
    .feature-head{ font-size: 20px;}
    .feature-column{
        i{ font-size: 40px;}
        h3{ font-size: 18px;}
        p{ 
            font-size: 12px;
            line-height: 175%;
        }
    }
    .more-features{ font-size: 20px; }
}

.plans{
    .plans-head{ font-size: 20px;}
    .plan-box{
        .plan-type{ font-size: 16px;}
        .plan-price { font-size: 20px; }
        .plan-desc{ font-size: 12px; }
        .plan-features{
            .point{ font-size: 13px;}
        }
    }
    .sign-up-offer{
        .btn { font-size: 14px;}
    }
}



/*******************DASHBOARD PAGE ********************/
.dash-header{ font-size: 20px;}

/*********************LOGIN MODAL**********************/
.act-activation{ font-size: 11px; }

/**********************SITE GUIDE ********************/
.guide-wrapper{
    h3{ font-size: 20px; }
    h4{ font-size: 16px; }
    h5{ font-size: 12px; }
    p{ font-size: 12px; }
}

/**********************TERMS OF SERVICE****************/
.service-wrapper{
    h4{ font-size: 16px; }
    h5{ font-size: 14px; }
    p{ font-size: 12px; }
}

}

