<% provide(:title, "Documents") %>
<h2 class="generic-header">DOCUMENTS</h2>

<% if manager_or_owner?(@scoreboard, current_user) %>
   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#categorymodal">Create Category</button>
<% end %>


<div class="category-list">
    <% if @categories.any? %>
       <%= render 'categorylist' %>
    <% elsif manager_or_owner?(@scoreboard, current_user)%>
      <div class="default-div">
          There are no documents uploaded right now. In order to upload documents, you must
          first use the "Create Category" button to create a category for the documents e.g Score, Waivers. Then, you may add documents
          to the Category.
      </div>
   <% else %>
       <div class="default-div">
          No documents have been uploaded.  
      </div>
   <% end %>
</div>

<% if manager_or_owner?(@scoreboard, current_user) %>
   <%= render 'categoryform' %>
<% end %>


