<% provide(:title, "Documents") %>
<h2 class="document-show-header">
    <%= link_to scoreboard_categories_path(@scoreboard) do %>
        <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
    <% end %>
    <%= @category.name %>
    </h2>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#documentmodal">Upload Document</button>

<div class="document-list">
    <%= render @documents %>
</div>
<%= render 'documents/documentform' %>