<header class="navigation navbar navbar-fixed-top navbar-default nav-tabs">
    <div class="container">
      <%= link_to "ScoreBoard", root_path, id:"logo" %>
      <nav>
        <ul class="navigation nav navbar-nav navbar-right nav-tabs">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <li><%= link_to "Sign-In", '#' %></li>
        </ul>
      </nav>
    </div>
  </header>